{% extends 'base.html.twig' %}
{% block title %}My Inventories{% endblock %}
{% block filter %}

{% endblock %}

{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('inventory') }}"><span>{% trans %} Inventory {% endtrans %} </span></a></li>
        </ol>

        <div class="row">
            <div class="col">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class=" alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row">

            <div class="col border rounded-0 border-light p-4">

                <div>
                    <ul role="tablist" class="nav nav-tabs">
                        {% for idoit_workplace in idoit_workplaces %}
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if loop.first %} active {% endif %}" href="#tab-{{ idoit_workplace.objID }}">{{ idoit_workplace.assigned_workstations.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-content border rounded-0 border-top-0 p-4">
                {% for idoit_workplace in idoit_workplaces %}
                    <div role="tabpanel" id="tab-{{ idoit_workplace.objID }}" class="tab-pane {% if loop.first %} active {% endif %}">
                        {% set workplace_id = idoit_workplace.objID %}
                        <form name="inventory_form" method="post" action="{{ path('inventory_save') }}">
                            <input type="hidden" name="idoit_user" value="{% if idoit_user %}{{ idoit_user.id }}{% else %}{{ idoit_user }}{% endif %}">
                            <input type="hidden" name="idoit_workplace" value="{% if idoit_workplace %}{{ idoit_workplace.objID }}{% else %}{% endif %}">
                            <button  class="btn btn-primary" type="submit">{% trans %} Submit inventory {% endtrans %}</button>

                            <p class="mt-4">{% trans %} Please mark all items as checked, if they are still part of your workplace and submit the inventory {% endtrans %}:</p>

                            <div class="table-responsive mt-3">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center"><input class="" type="checkbox" id="checkAll" value=""></th>
                                        <th>{% trans %} # {% endtrans %} </th>
                                        <th>{% trans %} Title {% endtrans %}</th>
                                        <th>{% trans %} Type {% endtrans %}</th>
                                        <th>{% trans %} Tags {% endtrans %}</th>
                                        <th>{% trans %} last seen {% endtrans %}</th>
                                        <th>{% trans %} by {% endtrans %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if assigned_objects[workplace_id] is defined %}
                                    {% for assigned_object in assigned_objects[workplace_id] %}
                                    <tr>
                                        <td class="text-center"><input class="checkbox" type="checkbox" name="obj_ids[]" value="{{ assigned_object.id }}"> </td>
                                        <td>{{ assigned_object.id }}</td>
                                        <td>{{ assigned_object.title }}</td>
                                        <td>{{ assigned_object.type_title }}</td>
                                        <td>{{ assigned_object.tags }}</td>
                                        <td>{% if assigned_object.last_seen %}{{ assigned_object.last_seen|ago }}{% endif %}</td>
                                        <td>{% if assigned_object.by_user %}{{ assigned_object.by_user }} {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>

                            <div class="row mt-4">
                                <div class="col">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="8" placeholder="{% trans %} Please leave us a message if some parts assigned to your workspace are missing {% endtrans %}"></textarea>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/inventory.js') }}"></script>
{% endblock %}
