{% extends 'base.html.twig' %}

{% block title %}{% trans %} Profile {% endtrans %}{% endblock %}

{% block content %}
    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('profile') }}"><span>{% trans %} Profile {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 border-light p-4">
                        <form name="userform" id="formUser" method="post" action="{{ path('profile_update') }}">
                            <input type="hidden" name="id" value="{{ app.user.id }}">
                            <div class="form-row text-left">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">{% trans %} Save {% endtrans %}</button>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="inputFirstname" class="col-sm-2 col-form-label text-right">{% trans %} Firstname {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFirstname" name="firstname"  value="{{ app.user.firstname }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputLastname" class="col-sm-2 col-form-label text-right">{% trans %} Lastname {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputLastname" name="lastname"  value="{{ app.user.lastname }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label text-right">{% trans %} E-Mail {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail" name="email"  value="{{ app.user.email }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputIdoitUsername" class="col-sm-2 col-form-label text-right">{% trans %} Username {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputUsername" readonly name="username"  value="{{ app.user.userIdentifier }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label text-right">{% trans %} Password {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" name="password"  value="" autocomplete="new-password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputConfirmPassword" class="col-sm-2 col-form-label text-right">{% trans %} Confirm password {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password"  value="">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputDepartment" class="col-sm-2 col-form-label text-right">{% trans %} Department {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <select class="form-control custom-select" id="inputDepartment" name="department">
                                        {% for department in departments %}
                                            <option value="{{ department.id }}" {% if app.user.department.id == department.id %} selected="selected" {% endif%} >{{ department.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputLanguage" class="col-sm-2 col-form-label text-right">{% trans %} Language {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <select id="inputLanguage" class="form-control custom-select" name="language">
                                        <option value="en" {% if app.user.language == 'en' %} selected="selected" {% endif %}>{% trans %} English {% endtrans %}</option>
                                        <option value="de" {% if app.user.language == 'de' %} selected="selected" {% endif %}>{% trans %} German {% endtrans %}</option>
                                    </select>
                                </div>
                            </div>


                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
