<div role="tabpanel" id="tab-2" class="tab-pane active">

    <div class="row align-self-stretch zebra_only">

        <div class="col align-self-stretch">
            <div class="form-group">
                <label for="inputZmlCode" class="form-label">{% trans %} ZPL Code{% endtrans %}:</label>
                <textarea id="inputZmlCode" class="form-control" name="zml_code" rows="30">{{ label.zmlCode }}</textarea>
            </div>

            <div class="form-group">
                <label for="inputPrintDensity" class="form-label text-right">{% trans %} Print density {% endtrans %}</label>
                <select class="form-control custom-select" id="inputPrintDensity" name="print_density">
                    <option{% if label.printDensity == '6' %} selected="selected" {% endif%} value="6">152dpi (6dpmm)</option>
                    <option{% if label.printDensity == '8' %} selected="selected" {% endif%} value="8">203dpi (8dpmm)</option>
                    <option{% if label.printDensity == '12' %} selected="selected" {% endif%} value="12">300dpi (12dpmm)</option>
                    <option{% if label.printDensity == '24' %} selected="selected" {% endif%} value="24">600dpi (24dpmm)</option>
                </select>
            </div>

        </div>

        <div class="col align-self-stretch">
            <div class="mb-0">{% trans %} Preview {% endtrans %}:</div>
            {% if label_image %}
                <img style="width: {{ label.labelWidth }}mm; height: {{ label.labelHeight }}mm" class="border rounded mt-2" src="data:image/png;base64,{{ label_image }}">
            {% endif %}
        </div>

    </div>

    <div class="row align-self-stretch pdf_only">
        <div class="col align-self-stretch">
            <div class="form-group">
                <label for="inputQrSize" class="form-label">{% trans %} QR code size {% endtrans %} [mm]</label>
                <input type="number" class="form-control" id="inputQrSize" name="qr_size" value="{{ label.qrSize }}">
            </div>
            <div class="form-group">
                <label for="inputLogoSrc" class="form-label">{% trans %} Logo source {% endtrans %} [URI]</label>
                <input type="url" class="form-control" id="inputLogoSrc" name="logo_src" value="{{ label.logoSrc }}">
            </div>
            <div class="form-group">
                <label for="inputLogoHeight" class="form-label">{% trans %} Logo height {% endtrans %} [mm]</label>
                <input type="number" class="form-control" id="inputLogoHeight" name="logo_height" value="{{ label.logoHeight }}">
            </div>
            <div class="form-group">
                <label for="inputFontsize1" class="form-label">{% trans %} Font size 1st attribute {% endtrans %} [pt]</label>
                <input type="number" class="form-control" id="inputFontsize1" name="fontsize_1" value="{{ label.fontsize1 }}">
            </div>
            <div class="form-group">
                <label for="inputFontsize2" class="form-label">{% trans %} Font size other attributes {% endtrans %} [pt]</label>
                <input type="number" class="form-control" id="inputFontsize2" name="fontsize_2" value="{{ label.fontsize2 }}">
            </div>
            <div class="form-group">
                <label for="inputAttribute1" class="form-label">{% trans %} Attribute {% endtrans %} 1</label>
                <input type="text" class="form-control" id="inputAttribute1" name="attribute_1" value="{{ label.attribute1 }}">
            </div>
            <div class="form-group">
                <label for="inputAttribute2" class="form-label">{% trans %} Attribute {% endtrans %} 2</label>
                <input type="text" class="form-control" id="inputAttribute2" name="attribute_2" value="{{ label.attribute2 }}">
            </div>
            <div class="form-group">
                <label for="inputAttribute3" class="form-label">{% trans %} Attribute {% endtrans %} 3</label>
                <input type="text" class="form-control" id="inputAttribute3" name="attribute_3" value="{{ label.attribute3 }}">
            </div>
            <div class="form-group">
                <label for="inputAttribute4" class="form-label">{% trans %} Attribute {% endtrans %} 4</label>
                <input type="text" class="form-control" id="inputAttribute4" name="attribute_4" value="{{ label.attribute4 }}">
            </div>

            <hr>
            <h2>{% trans %} Page settings {% endtrans %}</h2>

            <div class="form-group">
                <label for="inputColsOnRow" class="form-label">{% trans %} Columns per row {% endtrans %}</label>
                <input type="number" class="form-control" id="inputColsOnRow" name="cols_on_row" value="{{ label.colsOnRow }}">
            </div>
            <div class="form-group">
                <label for="inputRowsOnPage" class="form-label">{% trans %} Rows on page {% endtrans %}</label>
                <input type="number" class="form-control" id="inputRowsOnPage" name="rows_on_page" value="{{ label.rowsOnPage }}">
            </div>
            <div class="form-group">
                <label for="inputPageWidth" class="form-label">{% trans %} Page width {% endtrans %} [mm]</label>
                <input type="number" class="form-control" id="inputPageWidth" name="page_width" value="{{ label.pageWidth }}">
            </div>
            <div class="form-group">
                <label for="inputPageHeight" class="form-label">{% trans %} Page height {% endtrans %} [mm]</label>
                <input type="number" class="form-control" id="inputPageHeight" name="page_height" value="{{ label.pageHeight }}">
            </div>
            <div class="form-group">
                <label for="inputOrientation" class="form-label text-right">{% trans %} Page orientation {% endtrans %}</label>
                <select class="form-control custom-select" id="inputOrientation" name="orientation">
                    <option{% if label.orientation == 'P' %} selected="selected" {% endif%} value="P">{% trans %} Portrait {% endtrans %}</option>
                    <option{% if label.orientation == 'L' %} selected="selected" {% endif%} value="L">{% trans %} Landscape {% endtrans %}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputMarginLeft" class="form-label">{% trans %} Margin left {% endtrans %} [mm]</label>
                <input type="number" class="form-control" id="inputMarginLeft" name="margin_left" value="{{ label.marginLeft }}">
            </div>
            <div class="form-group">
                <label for="inputMarginTop" class="form-label">{% trans %} Margin top {% endtrans %} [mm]</label>
                <input type="number" class="form-control" id="inputMarginTop" name="margin_top" value="{{ label.marginTop }}">
            </div>

        </div>
        <div class="col align-self-stretch">
            <div class="mb-0">{% trans %} Preview {% endtrans %}:</div>
            <div class="">
                <canvas id="label" class="border rounded m-0 mr-0 ml-0"></canvas>
            </div>
            <div class="">
                <input type="hidden" id="QrDontPanic" value="{{ asset('assets/img/qr-dont-panic-at.png') }}">
                <input type="hidden" id="Logo" value="{{ label.logoSrc }}">
            </div>
            

        </div>

    </div>

</div>


