<div role="tabpanel" id="tab-1" class="tab-pane">
    <div class="form-group required">
        <label for="inputTitle" class="form-label">{% trans %} Title {% endtrans %}</label>
        <input type="text" class="form-control" id="inputTitle" name="title"  value="{{ label.title }}">
    </div>

    <div class="form-group required">
        <label for="inputDriver" class="form-label text-right">{% trans %} Output format {% endtrans %}</label>
        <select class="form-control custom-select" id="inputDriver" name="driver">
            <option{% if label.driver == 'ZPL' %} selected="selected" {% endif%} value="ZPL">Zebra Programming Language (ZPL)</option>
        </select>
    </div>

    <div class="form-group ">
        <input type="checkbox" value="1" class="form-check-inline" id="inputActive" name="active"  {% if label.active == 1 %} checked="checked" {% endif  %}>
        <label for="inputActive" class="form-label text-right">{% trans %} Active {% endtrans %}</label>

    </div>

    <div class="form-group required">
        <label for="inputLabelWidth" class="form-label">{% trans %} Label width {% endtrans %} [mm]</label>
        <input type="number" class="form-control" id="inputLabelWidth" name="label_width"  value="{{ label.labelWidth }}">
    </div>

    <div class="form-group required">
        <label for="inputLabelHeight" class="form-label">{% trans %} Label height {% endtrans %} [mm]</label>
        <input type="number" class="form-control" id="inputLabelHeight" name="label_height"  value="{{ label.labelHeight }}">
    </div>


</div>