{% extends 'base.html.twig' %}
{% block title %}Labels{% endblock %}
{% block filter %}
{% endblock %}



{% block content %}



    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_labels') }}"><span>{% trans %} Labels {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <a href="{{ path('label_new') }}"> <button class="btn btn-primary new" type="button">{% trans %} New {% endtrans %}</button></a>
                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col-5">{% trans %} Title {% endtrans %}</th>
                                <th class="col-6">{% trans %} Output format {% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="labelsList">
                            {% for item in selection_list %}
                                <tr class="d-flex">
                                    <td  class="col-1"><a href="{{ path('label_details', {'id': item.id }) }}">{{ item.id }}</a> </td>
                                    <td class="col-5"><a href="{{ path('label_details', {'id': item.id }) }}">{{ item.title }}</a></td>
                                    <td class="col-6">{{ item.driver }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/rfc_standardchanges.js') }}"></script>
{% endblock %}
