{% extends 'base.html.twig' %}
{% block title %}Labels{% endblock %}
{% block filter %}
{% endblock %}



{% block content %}



    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_labels') }}"><span>{% trans %} Labels {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('label_details', {'id': label.id})}}"><span>{{ label.title }}</span></a></li>
        </ol>

        <div class=" border rounded-0 border-light p-4">
            <form class="" method="post" action="{{ path('label_save') }}">
                <input type="hidden" name="id" value="{{ label.id }}">
                <button class="btn btn-primary" type="submit">{% trans %} Save {% endtrans %}</button>
                <hr>

                <div>
                    <ul role="tablist" class="nav nav-tabs">
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-1">{% trans %} Global {% endtrans %}</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" href="#tab-2">{% trans %} Label definition {% endtrans %}</a></li>
                    </ul>
                </div>


                <div class="tab-content border rounded-0 border-top-0 p-4">
                    {% include "labels/global_tab.html.twig" %}
                    {% include "labels/definition_tab.html.twig" %}
                </div>

            </form>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/labels.js') }}"></script>
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
{% endblock %}
