{% extends 'base.html.twig' %}

{% block title %}{% trans %} LDAP Settings {% endtrans %}{% endblock %}

{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('ldap') }}"><span>{% trans %} LDAP settings {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 border-light p-4">
                        <form class="" method="post" action="{{ path('ldap_save') }}">
                            <div class="form-row text-left">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">{% trans %} Save {% endtrans %}</button>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="inputDriver" class="col-sm-2 col-form-label text-right">Driver</label>
                                <div class="col-sm-10">
                                    <select class="form-control custom-select" id="inputDriver" name="driver">
                                        <option value="Activedirectory" {% if config.driver == "Activedirectory" %} selected {% endif %}>Active Directory</option>
                                        <option value="OpenLDAP" {% if config.driver == "OpenLDAP" %} selected {% endif %}>OpenLDAP</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputHost" class="col-sm-2 col-form-label text-right">LDAP Host</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputHost" name="hostname"  value="{{ config.hostname }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPort" class="col-sm-2 col-form-label text-right">LDAP Port</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputPort" name="port" placeholder="389"  value="{{ config.port }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputSsl" class="col-sm-2 col-form-label text-right">Use SSL</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputSsl" name="ssl"  {% if config.ssl == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputBaseDn" class="col-sm-2 col-form-label text-right">Base DN</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputBaseDn" name="base_dn" placeholder="OU=organizationalUnit,DC=Domain,DC=TLD"  value="{{ config.base_dn }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputFilter" class="col-sm-2 col-form-label text-right">LDAP Filter</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFilter" name="filter" placeholder="(&(objectClass=user)(CN=*)(sAMAccountname=*))"  value="{{ config.filter }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputRDN" class="col-sm-2 col-form-label text-right">LDAP DN</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputDN" name="rdn" placeholder="CN=Username"  value="{{ config.rdn }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label text-right">LDAP Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputDN" name="password" value="{{ config.password }}">
                                </div>
                            </div>





                            <div class="form-group row">
                                <label for="inputActive" class="col-sm-2 col-form-label text-right">Active</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputActive" name="active"  {% if config.active == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/post_data.js') }}"></script>
{% endblock %}
