{% extends 'base.html.twig' %}
{% block title %}Notification Templates{% endblock %}
{% block filter %}
{% endblock %}



{% block content %}

    <div class="modal fade" role="dialog" tabindex="-1" id="templateDetails">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <form name="notificationtemplateform" id="formNotificationTemplates" method="post" action="{{ path('notification_templates_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Notification template {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="inputId" name="id" value="">

                        <div class="form-group row">
                            <label for="inputSubject" class="col-sm-3 col-form-label">{% trans %} Subject {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputSubject" name="subject"  value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputContentEn" class="col-sm-3 col-form-label">{% trans %} Content english {% endtrans %}</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="6" id="inputContentEn" name="content_en"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputContentDe" class="col-sm-3 col-form-label">{% trans %} Content german {% endtrans %}</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="6" id="inputContentDe" name="content_de"></textarea>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Cancel {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" id="">{% trans %} Save {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('notification_templates') }}"><span>{% trans %} Notification Templates {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <button data-toggle="modal" data-target="#templateDetails" class="btn btn-primary" type="button">{% trans %} New {% endtrans %}</button>
                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans %} Subject {% endtrans %}</th>
                                <th>{% trans %} Type {% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for notification_template in notification_templates %}
                                <tr>
                                    <td data-toggle="modal" data-template='{{ notification_template.serialized  }}' data-target="#templateDetails" class="clickable">{{ notification_template.id }} </td>
                                    <td>{{ notification_template.subject }}</td>
                                    <td>{{ notification_template.type.title }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/notification_templates.js') }}"></script>
{% endblock %}
