<div role="tabpanel" id="tab-2" class="tab-pane">

    <div class="row align-self-stretch">
        <div class="col align-self-stretch border-right">

            <div class="form-group"><label>{% trans %} Ressources {% endtrans %}</label>
                <select class="custom-select" name="rtype">
                    {% for ressource in ressources %}
                        <option value="{{ ressource.const }}" {% if classification_data and classification_data.rtype == ressource.const %} selected="selected" {% endif %}>{{ ressource.title|trans }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group"><label>{% trans %} Costs {% endtrans %} [{{ system_config.currency }}]</label>
                <input type="number" class="form-control" name="costs" value="{% if classification_data and classification_data.costs %}{{ classification_data.costs }}{% endif %}">
            </div>

            <div class="form-group"><label>{% trans %} Time {% endtrans %}</label>
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Time" name="rtime" value="{% if classification_data and classification_data.rtime %} {{ classification_data.rtime }} {% endif %}">
                    <div class="input-group-append">
                        <select class="custom-select" id="" name="runit">
                            {% for unit in units %}
                                <option value="{{ unit.const }}" {% if classification_data and classification_data.runit == unit.const %} selected="selected" {% endif %}>{{ unit.title|trans }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{% trans %} Hard- and Software {% endtrans %}</label>
                <textarea class="form-control" rows="5" name="hardware_software">{% if classification_data and classification_data.hardware_software %}{{ classification_data.hardware_software }}{% endif %}</textarea></div>
        </div>
        <div class="col align-self-stretch ">
            <div class="form-group">
                <label>{% trans %} Risk analysis {% endtrans %}</label>
                <textarea class="form-control" rows="16" name="riskanalysis">{% if classification_data and classification_data.riskanalysis %}{{ classification_data.riskanalysis }}{% endif %}</textarea></div>
        </div>

    </div>
</div>