<div role="tabpanel" id="tab-1" class="tab-pane active">
    <div class="row">
        <div class="col">

                <input type="hidden" id="inputId" name="id" value="{{ standardchange.id }}">
                <input type="hidden" id="inputWorkflowdata" name="workflowdata" value="{{ standardchange.workflowdata }}">


                <hr>
                <div class="form-group required">
                    <label for="inputTitle" class="form-label">{% trans %} Title {% endtrans %}</label>
                    <input type="text" class="form-control" id="inputTitle" name="title"  value="{{ standardchange.title }}" required>
                </div>

                <div class="form-group">
                    <label for="inputDescription" class="form-label">{% trans %} Description {% endtrans %}</label>
                    <textarea  class="form-control" name="description" id="inputDescription">{{ standardchange.description }}</textarea>
                </div>

                <div class="form-group">
                    <input type="checkbox" class="custom-checkbox" name="active" id="inputActive" value="1" {% if standardchange.active == 1 %} checked="checked" {% endif %}>
                    <label for="inputActive" class="form-label">{% trans %} Active {% endtrans %}</label>
                </div>


        </div>
    </div>

</div>