{% extends 'base.html.twig' %}

{% block title %}Standard change {% endblock %}

{% block content %}

    <div class="modal fade" role="dialog" tabindex="-1" id="workflowDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="selectionListForm" id="formWorkflowDetails" method="post" action="{{ path('standardchanges_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Standard change task {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="inputId" name="id" value="">

                        <div class="form-group">
                            <label for="inputTitle" class="">{% trans %} Title {% endtrans %}</label>
                            <input type="text" class="form-control" id="inputTitle" name="title"  value="">
                        </div>

                        <div class="form-group">
                            <label for="inputDescription">{% trans %} Description {% endtrans %}</label>
                            <textarea  class="form-control" name="description" id="inputDescription" rows="9"></textarea>
                        </div>

                        <div class="form-group">
                            <label>{% trans %} Parent task {% endtrans %}</label>
                            <select class="form-control custom-select" name="parent" id="inputWorkflowParent">
                                <option></option>
                                {% for workflow_data in workflows_data %}
                                    {% if workflow_data %}<option value="{{ workflow_data.0.value }}">{{ workflow_data.1.value }} </option>{% endif %}
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Cancel {% endtrans %}</button>
                        <button class="btn btn-danger" type="button" id="workflowDelete">{% trans %} Delete {% endtrans %}</button>
                        <button class="btn btn-primary" type="button" id="workflowSave">{% trans %} Save {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('standardchanges')}}"><span>{% trans %} Standard changes {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('standardchange_details', {'id': standardchange.id})}}"><span>{{ standardchange.title }}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 p-4">
                        <div class="form-row text-left">
                            <div class="col">
                                <button class="btn btn-primary" type="button" id="standardchangeSave">{% trans %} Save {% endtrans %}</button>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col">
                                <div>
                                    <ul role="tablist" class="nav nav-tabs">
                                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" href="#tab-1">{% trans %} Metadata {% endtrans %}</a></li>
                                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-2">{% trans %} Classification {% endtrans %}</a></li>
                                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-4">{% trans %} Workflow {% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form id="formStandardchange" class="" method="post" action="{{ path('standardchanges_save') }}">
                        <div class="tab-content border rounded-0 border-top-0 p-4">
                            {% include "rfc_standardchanges/metadata_tab.html.twig" %}
                            {% include "rfc_standardchanges/classification_tab.html.twig" %}
                            {% include "rfc_standardchanges/tasks_tab.html.twig" %}
                        </div>
                        </form>



                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/rfc_standardchanges.js') }}"></script>
{% endblock %}
