<div role="tabpanel" class="tab-pane" id="tab-4">
    <div class="row">
        <div class="col">
            <button data-toggle="modal" data-target="#workflowDetails" class="btn btn-primary new" type="button">{% trans %} New task {% endtrans %}</button>
            <div class="table-responsive mt-3">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr class="">
                            <th class="col-1">#</th>
                            <th class="">{% trans %} Title {% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody id="workflowsList">
                        {% for workflow_data in workflows_data %}
                            {%  if workflow_data  %}
                            <tr class="clickable workflow_row" data-toggle="modal" data-target="#workflowDetails" data-item="{{ workflow_data | json_encode }}">
                                <td class="col-1">{% if workflow_data %} {{ workflow_data.0.value }} {% endif %}</td>
                                <td class="">{% if workflow_data %} {{ workflow_data.1.value }} {% endif %}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="mt-3">
            <div class="p-0" id="chart">

            </div>
        </div>
    </div>
</div>