{% extends 'base.html.twig' %}

{% block title %}Servicedesk Settings{% endblock %}

{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('zammad') }}"><span>{% trans %} Service Desk settings {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 border-light p-4">
                        <form class="" method="post" action="{{ path('zammad_save') }}">
                            <div class="form-row text-left">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">{% trans %} Save {% endtrans %}</button>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="inputPattern" class="col-sm-2 col-form-label text-right">{% trans %} Service Desk driver {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <select class="form-control custom-select" id="inputDriver" name="driver">
                                        <option value="default" {% if config.driver == "default" %} selected {% endif %}>{% trans %} Generic {% endtrans %}</option>
                                        <option value="Zammad" {% if config.driver == "Zammad" %} selected {% endif %}>Zammad</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPattern" class="col-sm-2 col-form-label text-right">{% trans %} Service Desk URL {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPattern" name="pattern"  value="{{ config.pattern }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputToken" class="col-sm-2 col-form-label text-right">Auth Token</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputToken" name="auth_token"  value="{{ config.auth_token }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputGroup" class="col-sm-2 col-form-label text-right">{% trans %} Group {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputGroup" name="workflows_group"  value="{{ config.workflows_group }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputGroup" class="col-sm-2 col-form-label text-right">{% trans %} State id for state open  {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputStateIdOpen" name="state_id_open"  value="{{ config.state_id_open }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputGroup" class="col-sm-2 col-form-label text-right">{% trans %} State id for state closed  {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputStateIdClosed" name="state_id_closed"  value="{{ config.state_id_closed }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputWorkflow" class="col-sm-2 col-form-label text-right">{% trans %} Create Tickets for Implentation Tasks {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputWorkflow" name="tickets_workflow"  {% if config.tickets_workflow == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputNotification" class="col-sm-2 col-form-label text-right">{% trans %} Create Article instead of E-Mail Notification {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputNotification" name="tickets_notification"  {% if config.tickets_notification == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputActive" class="col-sm-2 col-form-label text-right">{% trans %} Active {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputActive" name="active"  {% if config.active == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/post_data.js') }}"></script>
{% endblock %}
