{% extends 'base.html.twig' %}

{% block title %}Log in to request for change!{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login-form.css') }}">
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}


    <div class="login-clean vertical-center">
        <form method="post">

            <h2 class="sr-only">{% trans %} Log in to submit a request for change {% endtrans %}</h2>
            <div class="row mb-4">
                <div class="col-9 brand text-left">
                    Request for Change
                </div>
                <div class="col-3 font-weight-bold brand text-right">
                    <img class="logo" src="{{ asset('assets/img/logo-rfc-monochrome.png') }}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputUsername">{% trans %}Username{% endtrans %}</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                       class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       placeholder=""
                       required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block"
                        type="submit">{% trans %} Log In {% endtrans %}</button>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, got to <a class="text-light" href="{{ path('rfc_index') }}">RfC index</a>
                </div>
            {% endif %}

        </form>

</div>


{% endblock %}
{% block javascripts %}
{% endblock %}
