{% extends 'base.html.twig' %}
{% block title %}Business processes{% endblock %}
{% block filter %}
{% endblock %}



{% block content %}

    <div class="modal fade" role="dialog" tabindex="-1" id="Details">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="selectionListForm" id="formSelectionList" method="post" action="{{ path('businessprocesses_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">Business processes</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="inputId" name="id" value="">

                        <div class="form-group row">
                            <label for="inputTitle" class="col-sm-3 col-form-label">{% trans %} Title {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputTitle" name="title"  value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputResponsible" class="col-sm-3 col-form-label">Responsible</label>
                            <div class="col-sm-9">
                                <select id="inputResponsible" name="responsible" class="custom-select chosen-select">
                                    <option></option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }} ({{ user.username }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit" id="">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %} </span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('businessprocesses') }}"><span>{% trans %} Business processes {% endtrans %} </span></a></li>
        </ol>
        <div class="row">
            <div class="col">

                <form class="" method="post" action="{{ path('process_sync') }}">

                    <div class="btn-group">
                        <button data-toggle="modal" data-target="#Details" class="btn btn-primary new" type="button">{% trans %} New {% endtrans %}</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"  id="dropdownMenuReference" data-reference="parent">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <button class="dropdown-item btn btn-outline-secondary" type="submit" name="variant" value="sync_processes">{% trans %} Import processes from i-doit {% endtrans %}</button>
                        </div>
                    </div>


                    <div class="table-responsive mt-3">
                        <div class="table-responsive mt-3">
                            <table class="table">
                                <thead>
                                <tr class="d-flex">
                                    <th class="col-1">#</th>
                                    <th class="col-5">{% trans %} Title {% endtrans %}</th>
                                    <th class="col-6">{% trans %} Responsible {% endtrans %} </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in selection_list %}
                                    <tr data-item="{{ item.serialized }}" data-toggle="modal" data-target="#Details" class="clickable d-flex">
                                        <td  class="col-1">{{ item.id }} </td>
                                        <td class="col-5">{{ item.title }}</td>
                                        <td class="col-6">
                                            {% if item.responsible %} {{ item.responsible.firstname }} {{ item.responsible.lastname }} ({{ item.responsible.username }}) {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/business_processes.js') }}"></script>
{% endblock %}
