{% extends 'base.html.twig' %}
{% block title %}System Settings{% endblock %}
{% block filter %}
{% endblock %}
{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('system') }}"><span>{% trans %} System settings {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 border-light p-4">
                        <form class="" method="post" action="{{ path('system_save') }}">
                            <div class="form-row text-left">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">{% trans %} Save {% endtrans %}</button>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="inputPattern" class="col-sm-3 col-form-label text-right">{% trans %} Language {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <select class="form-control custom-select" id="inputLanguage" name="language">
                                        <option value="en" {% if config.language == "en" %} selected {% endif %}>{% trans %} English {% endtrans %}</option>
                                        <option value="de" {% if config.language == "de" %} selected {% endif %}>{% trans %} German {% endtrans %}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPattern" class="col-sm-3 col-form-label text-right">{% trans %} System URL {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputSystemUrl" name="system_url"  value="{{ config.system_url }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPattern" class="col-sm-3 col-form-label text-right">{% trans %} System currency {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputCurrency" name="currency"  value="{{ config.currency }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPattern" class="col-sm-3 col-form-label text-right">{% trans %} Chief Information Security Officer {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <select class="form-control custom-select chosen-select" name="ciso">
                                        <option></option>
                                        {% for user in users %}
                                            <option{% if config.ciso == user.id %} selected="selected" {% endif%} value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }} ({{ user.username  }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPattern" class="col-sm-3 col-form-label text-right">{% trans %} Service Asset and Configuration Manager {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <select class="form-control custom-select chosen-select" name="sacm">
                                        <option></option>
                                        {% for user in users %}
                                            <option{% if config.sacm == user.id %} selected="selected" {% endif%} value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }} ({{ user.username  }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputWorkflow" class="col-sm-3 col-form-label text-right">{% trans %} Enforce 4-eyes principle on authorisation {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputFourEyes" name="four_eyes"  {% if config.four_eyes == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputNotification" class="col-sm-3 col-form-label text-right">{% trans %} Send notifications for all tasks at once when implementation starts {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputNotifyAtOnce" name="notify_at_once"  {% if config.notify_at_once == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputNotification" class="col-sm-3 col-form-label text-right">{% trans %} Selection of a Section is required {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputSectionRequired" name="section_required"  {% if config.section_required == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputNotification" class="col-sm-3 col-form-label text-right">{% trans %} Selection of a Business Process is required {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputProcessRequired" name="process_required"  {% if config.process_required == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputAllowClassification" class="col-sm-3 col-form-label text-right">{% trans %}Allow dispatching by any CM {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputAllowClassification" name="allow_classification"  {% if config.allow_classification == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputOtionalTargetDate" class="col-sm-3 col-form-label text-right">{% trans %}Make Target Date at Authorization optional {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputOptionalTargetDate" name="optional_target_date"  {% if config.optional_target_date == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputOtionalTargetDate" class="col-sm-3 col-form-label text-right">{% trans %}Make Description at Submission optional {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputOptionalSubmissionDescription" name="optional_submission_description"  {% if config.optional_submission_description == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputOtionalTargetDate" class="col-sm-3 col-form-label text-right">{% trans %}Make Consequences at Submission optional {% endtrans %}</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputOptionalSubmissionConsequences" name="optional_submission_consequences"  {% if config.optional_submission_consequences == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>
                        </form>

                        <hr>
                        <button class="btn btn-outline-secondary btn-sm mb-3" id="toggleButton">{% trans %} Server info {% endtrans %}</button>
                        <table class="table table-striped table-sm" id="serverInfo" style="display: none;">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in server_info %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>

    <script src="{{ asset('assets/js/system.js') }}"></script>
    <script src="{{ asset('assets/js/post_data.js') }}"></script>
    <script type="text/javascript">
        // using JQuery
        $('#toggleButton').click(function () {
            $('#serverInfo').toggle();  // toggles visibility of the server info table
        });
    </script>
{% endblock %}
