{% extends 'base.html.twig' %}
{% block title %}Open and new tasks{% endblock %}
{% block filter %}
{% endblock %}



{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('rfc_workflows') }}"><span>{% trans %} Tasks {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col"><span class="fa fa-circle-o pr-2"></span>{% trans %} Title {% endtrans %}</th>
                                <th class="col">{% trans %} Associated RfC {% endtrans %}</th>
                                <th class="col">{% trans %} Status {% endtrans %}</th>
                                <th class="col">{% trans %} Start date {% endtrans %}</th>
                                <th class="col">{% trans %} End date {% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in workflows %}
                                <tr class="d-flex">
                                    <td class="col-1"><a href="{{ path('rfc_workflows_detail', { id: item.id}) }}"> {{ item.id }} </a></td>
                                    <td class="col">
                                        <a href="{{ path('rfc_workflows_detail', { id: item.id}) }}">
                                            <span class="fa fa-circle pr-2
                                                {% if item.startDate <= date() and item.endDate >= date() and item.rfc.status.const == 'C__STATUS__CMDB' %}
                                                text-warning
                                                {% elseif item.startDate <= date() and item.endDate < date() and item.rfc.status.const == 'C__STATUS__CMDB' %}
                                                text-danger
                                                {% elseif item.rfc.status.const == 'C__STATUS__CMDB' %}
                                                text-primary
                                                {% else %}
                                                text-secondary
                                                {% endif %}">
                                            </span>
                                            {{ item.title }}
                                        </a>
                                    </td>
                                    <td class="col">
                                        <a href="{{ path('rfc_details', {'id': item.getRfc().id}) }}">{{ item.getRfc().title }}</a>
                                    </td>
                                    <td class="col">{{ item.implementationStatus.title|trans }} </td>
                                    <td class="col">{{ item.startDate | date("d.m.Y") }}</td>
                                    <td class="col">{{ item.endDate | date("d.m.Y") }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
