{% extends 'base.html.twig' %}

{% block title %}RfC #{{ RfcWorkflows.rfc.id }} implementation{% endblock %}

{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('rfc_workflows') }}"><span>New and open tasks</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('rfc_workflows_detail', {'id': RfcWorkflows.id }) }}"><span>{{ RfcWorkflows.title }} [{{ RfcWorkflows.implementationStatus.title|trans }}]</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 p-4">
                        <form class="" method="post" action="{{ path('rfc_workflows_update') }}">
                            <input type="hidden" name="rfc_workflow_id" value="{{ RfcWorkflows.id }}">
                            <input type="hidden" name="ajax_url" id="inputAjaxUrl" value="{{ path('idoit_get_objects') }}">

                            <div class="form-row text-left">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit" {% if app.user !=  RfcWorkflows.assignee or RfcWorkflows.implementationStatus.const == 'C_STATUS_CLOSED' or RfcWorkflows.rfc.status.const != 'C__STATUS__CMDB' %} disabled="disabled" {% endif %}>{% trans %} Save {% endtrans %}</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-left">
                                <div class="col border-right">
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Associated RfC {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            <a href="{{ path('rfc_details', {'id': RfcWorkflows.getRfc().id}) }}">{{ RfcWorkflows.getRfc().title }}</a>
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Description {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {{ RfcWorkflows.description | markdown_to_html }}
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Start date {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {{ RfcWorkflows.startDate | date("d.m.Y") }}
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} End date {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {{ RfcWorkflows.endDate | date("d.m.Y") }}
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Assigned to {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {{ RfcWorkflows.assignee.firstname }} {{ RfcWorkflows.assignee.lastname }}
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Created by {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {{ RfcWorkflows.creator.firstname }} {{ RfcWorkflows.creator.lastname }}
                                        </div>
                                    </div>

                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Ticket {% endtrans %} #:
                                        </div>
                                        <div class="col-9">
                                            {% if ticket %}
                                                <a target="ticket_window" onclick="window.open('{{ ticket.url }}', 'ticket_window');" href="{{ ticket.url }}">{{ ticket.number }}  </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Parent task {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {% if RfcWorkflows.parent %}
                                            <a href="{{ path('rfc_workflows_detail', {'id': RfcWorkflows.parent.id }) }}">{{ RfcWorkflows.parent.title }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Sibling tasks {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {% if sibling_tasks %}
                                                <ul class="task-list">
                                                    {% for sibling_task in sibling_tasks %}
                                                        {% if sibling_task != RfcWorkflows %}
                                                        <li class="task-item"><a href="{{ path('rfc_workflows_detail', {'id': sibling_task.id }) }}">{{ sibling_task.title }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Child tasks {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {% if child_tasks %}
                                            <ul class="task-list">
                                            {% for child_task in child_tasks %}
                                                <li class="task-item"><a href="{{ path('rfc_workflows_detail', {'id': child_task.id }) }}">{{ child_task.title }}</a></li>
                                            {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 m-2 border-bottom">
                                        <div class="col-3">
                                            {% trans %} Configuration Items {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {% if affected_components %}
                                                <ul class="task-list">
                                                    {% for affected_component in affected_components %}

                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            {{ affected_component.title }}
                                                            <span>
                                                                <a href="{{ config.idoit_url }}/?objID={{ affected_component.id }}" target="_blank">
                                                                    <span class="fa fa-external-link"></span>
                                                                </a>
                                                            </span>
                                                        </li>

                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row p-2 m-2">
                                        <div class="col-3">
                                            {% trans %} Attachments {% endtrans %}:
                                        </div>
                                        <div class="col-9">
                                            {% if attachments %}
                                                <ul class="task-list">
                                                    {% for attachment in attachments %}

                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            {{ attachment.original_name }}
                                                            <a href="{{ path('rfc_attachment_download', {'saved_name': attachment.saved_name, 'original_name': attachment.original_name} ) }}">
                                                                <span class="fa fa-download"></span>
                                                            </a>
                                                        </li>

                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                                <div class="col">
                                    <div class="form-group"><label>{% trans %} Status {% endtrans %}</label>
                                        <select class="form-control custom-select chosen-select" name="implementationStatus" required="required" {% if app.user !=  RfcWorkflows.assignee or RfcWorkflows.implementationStatus.const == 'C_STATUS_CLOSED' or RfcWorkflows.rfc.status.const != 'C__STATUS__CMDB' %} disabled="disabled" {% endif %}>
                                            <option></option>
                                            {% for status in implementationStatus %}
                                                <option value="{{ status.const }}" {% if RfcWorkflows.implementationStatus.const == status.const %}selected="selected"{% endif %}>{{ status.title|trans }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group ">
                                        <label for="inputImplementationObjectType">{% trans %} Configuration Item class {% endtrans %}</label>
                                        <select data-placeholder="Select a Configuration Item class" name="object_type" id="inputImplementationObjectType" class="custom-select form-control chosen-select" {% if app.user !=  RfcWorkflows.assignee or RfcWorkflows.implementationStatus.const == 'C_STATUS_CLOSED' %} disabled="disabled" {% endif %}>
                                            <option></option>
                                            {% for object_type in object_types %}
                                                <option value="{{ object_type.const }}">{{ object_type.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group ">
                                        <label for="inputImplementationObjects">{% trans %} Configuration Items {% endtrans %}</label>
                                        <select data-placeholder="Chose a Configuration Item class first, then select Configuration Items" class="chosen-select" multiple name="objects[]" id="inputImplementationObjects" {% if app.user !=  RfcWorkflows.assignee or RfcWorkflows.implementationStatus.const == 'C_STATUS_CLOSED' %} disabled="disabled" {% endif %}>
                                            <option value=""></option>
                                            {% for affected_component in affected_components %}
                                                <option value="{{ affected_component.id }}" selected="selected">{{ affected_component.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group"><label>{% trans %} Comment {% endtrans %}</label>
                                        {% if (app.user ==  RfcWorkflows.assignee) and (RfcWorkflows.implementationStatus.const == 'C_STATUS_NEW' or RfcWorkflows.implementationStatus.const == 'C_STATUS_OPEN') %}
                                        <textarea rows="12" class="form-control" name="comment">{{ RfcWorkflows.comment }}</textarea>
                                        {% elseif RfcWorkflows.comment %}
                                        <div class="border rounded p-2">{{ RfcWorkflows.comment | markdown_to_html }}</div>
                                        <input type="hidden" name="comment" value="{{ RfcWorkflows.comment }}">
                                        {% else %}
                                        <textarea rows="16" class="form-control" name="comment" readonly="readonly"></textarea>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/rfc_workflows.js') }}"></script>

{% endblock %}
