{% extends 'base.html.twig' %}
{% block title %}{% trans %} Edit Reason {% endtrans %} {{ reason.title }}{% endblock %}
{% block filter %}
{% endblock %}



{% block content %}

    <div class="modal fade" role="dialog" tabindex="-1" id="Details">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="selectionListForm" id="formSelectionList" method="post" action="{{ path('app_reasons_fields_save', { id: reason.id}) }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Edit Field {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">


                        <input type="hidden"  name="reason_id" value="{{ reason.id }}">

                        <div class="form-group row">
                            <label for="inputId" class="col-sm-3 col-form-label">{% trans %} ID {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" readonly id="inputId" name="id" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputLabel" class="col-sm-3 col-form-label">{% trans %} Label {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputLabel" name="label"  value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputType" class="col-sm-3 col-form-label">{% trans %} Type {% endtrans %}</label>
                            <div class="col-sm-9">
                                <select class="custom-select" name="type" id="inputType">
                                    <option value="1">text</option>
                                    <option value="2">checkbox</option>
                                    <option value="3">textarea</option>
                                    <option value="4">date</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPlaceholder" class="col-sm-3 col-form-label">{% trans %} Placeholder {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPlaceholder" name="placeholder"  value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputDefault" class="col-sm-3 col-form-label">{% trans %} Default value {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputDefault" name="default"  value="">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Cancel {% endtrans %}</button>
                        <button class="btn btn-danger" name="delete" type="submit">{% trans %} Delete {% endtrans %}</button>
                        <button class="btn btn-primary" name="save" type="submit" id="">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('reasons') }}"><span>{% trans %} Reasons for implementation {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('reasons_edit', {id: reason.id}) }}"><span>{% trans %} Form fields for reason: {% endtrans %} {{ reason.title }}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <button data-toggle="modal" data-target="#Details" class="btn btn-primary new" type="button">{% trans %} New {% endtrans %}</button>
                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr class="">
                                <th class="">#</th>
                                <th class="">{% trans %} Label {% endtrans %}</th>
                                <th class="">{% trans %} Type {% endtrans %}</th>
                                <th class="">{% trans %} Placeholder {% endtrans %}</th>
                                <th class="">{% trans %} Default value {% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for field in reason.fields %}
                                <tr data-toggle="modal" data-target="#Details" class="clickable" data-item="{{ field|json_encode }}">
                                    <td class="" id="{{ field.0.value }}">{{ loop.index }}</td>
                                    <td class="">{{ field.1.value }}</td>
                                    <td class="">
                                        {% if field.2.value == 1 %} text
                                        {% elseif field.2.value == 2 %} checkbox
                                        {% elseif field.2.value == 3 %} textarea
                                        {% elseif field.2.value == 4 %} date
                                        {% else %} unknown
                                        {% endif %}
                                    </td>
                                    <td class="">{{ field.3.value }}</td>
                                    <td class="">{{ field.4.value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/reasons_edit.js') }}"></script>
{% endblock %}
