{% extends 'base.html.twig' %}
{% block title %}Reasons for Implementation{% endblock %}
{% block filter %}
{% endblock %}



{% block content %}

    <div class="modal fade" role="dialog" tabindex="-1" id="Details">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="selectionListForm" id="formSelectionList" method="post" action="{{ path('reasons_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Reason for implementation {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="inputId" name="id" value="">

                        <div class="form-group row">
                            <label for="inputTitle" class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputTitle" name="title"  value="">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Cancel {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" id="">{% trans %} Save {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('reasons') }}"><span>{% trans %} Reasons for implementation {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <button data-toggle="modal" data-target="#Details" class="btn btn-primary new" type="button">{% trans %} New {% endtrans %}</button>
                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col-7">{% trans %} Title {% endtrans %}</th>
                                <th class="col-2">{% trans %} Active {% endtrans %}</th>
                                <th class="col-2">{% trans %} Default {% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in selection_list %}
                                <tr class="d-flex">
                                    <td class="col-1"><a href="{{ path('reasons_edit', { id: item.id}) }}">{{ item.id }}</a> </td>
                                    <td class="col-7">{{ item.title }}</td>
                                    <td class="col-2"><div class="form-check"><input class="form-check-input active-reason" type="checkbox" name="active" id="{{ item.id }}" value="on" {% if item.isActive %} checked {% endif %}></div></td>
                                    <td class="col-2"><div class="form-check"><input class="form-check-input default-reason" type="radio" name="default" id="{{ item.id }}" {% if item.isDefault %} checked {% endif %}></div></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/reasons.js') }}"></script>
{% endblock %}
