<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__CAB"  %} active {% endif %}" id="tab-5">
    <form method="post" action="{{ path('rfc_authorizations_save') }}" enctype="multipart/form-data">
        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
        <div class="form-row text-left">
            <div class="col">

            </div>
        </div>
        <hr>
        <div class="row align-self-stretch">
            <div class="col align-self-stretch border-right">
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Decided by {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_authorization and rfc_authorization.author %}{{ rfc_authorization.getAuthor.getFirstname }} {{ rfc_authorization.getAuthor.getLastname }} ({{ rfc_authorization.getAuthor.getUsername }}){% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Decision {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_authorization and rfc_authorization.decision == 0 %}{% trans %} Rejected {% endtrans %}{% endif %}
                        {% if rfc_authorization and rfc_authorization.decision == 1 %}{% trans %} Approved {% endtrans %}{% endif %}
                    </div>
                </div>
                <hr>

                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Target date {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_authorization and rfc_authorization.targetDate %}{{ rfc_authorization.targetDate | date("Y-m-d") }}{% endif %}
                    </div>
                </div>
                <hr>

                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">{% trans %} Attachments {% endtrans %}</div>
                    <div class="col-md-12">
                        <ul id="AuthorizationAttachments" class="list-group mt-3 mb-3">
                            {% for attachment in authorization_attachments %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ attachment.original_name }}
                                    <a href="{{ path('rfc_attachment_download', {'saved_name': attachment.saved_name, 'original_name': attachment.original_name} ) }}">
                                        <span class="fa fa-download"></span>
                                    </a>

                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col align-self-stretch ">
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">{% trans %} Reason for decision {% endtrans %}</div>

                    <div class="col-md-12">
                        {% if rfc_authorization and rfc_authorization.establishment %}{{ rfc_authorization.establishment | markdown_to_html }}{% endif %}
                    </div>
                </div>
            </div>

        </div>
    </form>





</div>
