<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__CAB"  %} active {% endif %}" id="tab-5">

    <div class="modal fade" role="dialog" tabindex="-1" id="messageModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="messageform" id="messageform" method="post" action="{{ path('rfc_authorizations_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Send back to classification {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
                        <input type="hidden" name="decision" value="{% if rfc_authorization and rfc_authorization.decision %}{{ rfc_authorization.id }}{% endif %}">
                        <input type="hidden" name="target_date" value="{% if rfc_authorization and rfc_authorization.targetDate %}{{ rfc_authorization.targetDate | date("Y-m-d") }}{% endif %}">
                        <input type="hidden" name="establishment" value="{% if rfc_authorization and rfc_authorization.establishment %}{{ rfc_authorization.establishment }}{% endif %}">


                        <div class="form-group">
                            <label for="inputContent" class="">{% trans %} Message {% endtrans %}</label>
                            <textarea class="form-control" rows="16" id="inputMessage" name="message"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Close {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__TRANSFERED">{% trans %} Send {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form method="post" action="{{ path('rfc_authorizations_save') }}" enctype="multipart/form-data">
        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
        <div class="form-row text-left">
            <div class="col">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__CABOK">{% trans %} Submit decision {% endtrans %}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"  id="dropdownMenuReference" data-reference="parent">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <button data-toggle="modal" data-target="#messageModal" class="dropdown-item btn btn-outline-secondary" type="button">{% trans %} Send back to classification {% endtrans %}</button>
                        <button class="dropdown-item btn btn-outline-secondary" type="submit" name="status" value="C__STATUS__CAB">{% trans %} Save draft {% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-self-stretch">
            <div class="col align-self-stretch border-right">

                <div class="form-group required"><label>{% trans %} Decision {% endtrans %}</label>
                    <select class="custom-select" name="decision" required="required">
                        <option></option>
                        <option value="0" {% if rfc_authorization and rfc_authorization.decision == 0 %} selected="selected" {% endif %}>{% trans %} Reject {% endtrans %}</option>
                        <option value="1" {% if rfc_authorization and rfc_authorization.decision == 1 %} selected="selected" {% endif %}>{% trans %} Approve {% endtrans %}</option>
                    </select>
                </div>

                <div class="form-group {% if system_config.optional_target_date == null %}required{% endif%} "><label>{% trans %} Target date {% endtrans %}</label>
                    <input type="date" class="form-control" {% if system_config.optional_target_date == null %}required="required"{% endif %} name="target_date" value="{% if rfc_authorization and rfc_authorization.targetDate %}{{ rfc_authorization.targetDate | date("Y-m-d") }}{% endif %}">
                </div>

                <div class="form-group">
                    <label>{% trans %} Attachments {% endtrans %}</label>

                    <ul id="AuthorizationAttachments" class="list-group mt-3 mb-3">
                        {% for attachment in authorization_attachments %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ attachment.original_name }}
                                <span class="fa fa-remove clickable"></span>

                            </li>

                        {% endfor %}

                    </ul>

                    <input type="file" class="form-control-file authorization-attachment" name="attachment[]" multiple>

                </div>
            </div>
            <div class="col align-self-stretch ">
                <div class="form-group">
                    <label>{% trans %} Reason for decision {% endtrans %}</label>
                    <textarea class="form-control" rows="16" name="establishment">{% if rfc_authorization and rfc_authorization.establishment %}{{ rfc_authorization.establishment }}{% endif %}</textarea></div>
            </div>

        </div>
    </form>





</div>
