<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__BPO" %} active {% endif %}" id="tab-4">

    <div class="col align-self-stretch">

            <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
            <input type="hidden" name="title" value="Message from process owner">
            <input type="hidden" name="classificator" value="{% if rfc_classification and rfc_classification.classificator %}{{ rfc_classification.classificator.id }}{% endif %}">
            <div class="form-row text-left">
                <div class="col">

                </div>
            </div>
            <hr>

            <div class="row align-self-stretch">
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Message {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if bpo_notice %}{{ bpo_notice.content |striptags | markdown_to_html }} {% endif %}
                    </div>
                </div>
            </div>
    </div>

</div>
