<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__BPO" %} active {% endif %}" id="tab-4">


    <div class="modal fade" role="dialog" tabindex="-1" id="delegationModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="delegationform" id="delegationform" method="post" action="{{ path('rfc_bpo_delegation') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Delegate feedback request {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="inputRfcId" name="rfc_id" value="{{ rfc.id }}">
                        <input type="hidden" id="inputAuthorId" name="author_id" value="{{ app.user.id }}">

                        <div class="form-group">
                            <label>{% trans %} Delegate to {% endtrans %}</label>
                            <select class="custom-select chosen-select form-control" name="delegatee">
                                <option></option>
                                {% for user in users %}
                                <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }} ({{ user.username  }})</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputContent" class="">{% trans %} Message {% endtrans %}</label>
                            <textarea class="form-control" rows="16" id="inputMessage" name="message"></textarea>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Close {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" id="">{% trans %} Delegate {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <div class="col align-self-stretch">

        <form method="post" action="{{ path('rfc_classifications_dispatch') }}">
            <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
            <input type="hidden" name="title" value="{% trans %}Message from process owner{% endtrans %}">
            <input type="hidden" name="classificator" value="{% if rfc_classification and rfc_classification.classificator %}{{ rfc_classification.classificator.id }}{% endif %}">
            <input type="hidden" name="costcenter" value="{% if rfc.costcenter %}{{ rfc.costcenter.id }}{% endif %}">
            <div class="form-row text-left">
                <div class="col">

                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__TRANSFERED" {% if rfcBpoFeedback and app.user != rfcBpoFeedback.getDelegatee() %} disabled {% endif %}>{% trans %} Send feedback to Change Manager {% endtrans %}</button>

                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"  id="dropdownMenuReference" data-reference="parent" {% if rfcBpoFeedback and app.user != rfcBpoFeedback.getDelegatee() %} disabled {% endif %}>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <button data-toggle="modal" data-target="#delegationModal" class="dropdown-item btn btn-outline-secondary" type="button" {% if rfcBpoFeedback and app.user != rfcBpoFeedback.getDelegatee() %} disabled {% endif %}>{% trans %} Delegate feedback request {% endtrans %}</button>
                        </div>
                    </div>



                </div>
            </div>


            <div class="row align-self-stretch mt-3">
                <div class="col align-self-stretch">
                    {% set rfc_notice = rfc_notices | first %}
                    <label>{% trans %}Request from{% endtrans %} {% if rfc_notice %} {{ rfc_notice.author.firstname }} {{ rfc_notice.author.lastname }} ({{ rfc_notice.author.username }}) {% endif %}:</label>
                    <div class="border rounded p-2 bg-light">
                        {% if rfc_notice %}{{ rfc_notice.content |striptags | markdown_to_html }} {% endif %}
                    </div>

                    {% if rfcBpoFeedback and app.user == rfcBpoFeedback.getDelegatee()  %}
                    <hr>

                    <div class="form-group">
                        <label>{% trans %} Message{% endtrans %}:</label>
                        <textarea class="form-control" name="message" rows="8" ></textarea>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

</div>
