<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__TRANSFERED" %} active {% endif %}" id="tab-3">
    <form method="post" action="{{ path('rfc_classifications_save') }}">
        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
        <div class="form-row text-left">
            <div class="col">

            </div>
        </div>
        <hr>
        <div class="row align-self-stretch">
            <div class="col align-self-stretch border-right">

                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Ressources {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.rtype %} {{ rfc_classification.rtype.title|trans }}{% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Costs {% endtrans %} [{{ system_config.currency }}]
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.costs %} {{ rfc_classification.costs }}{% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Time {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.rtime %} {{ rfc_classification.rtime }} {% endif %}
                        {% if rfc_classification and rfc_classification.runit %} {{ rfc_classification.runit.title|trans}} {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Message {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.hardwareSoftware %}{{ rfc_classification.hardwareSoftware |striptags | markdown_to_html }}{% endif %}
                    </div>
                </div>

            </div>
            <div class="col align-self-stretch border-right">

                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Risk analysis {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.riskanalysis %}{{ rfc_classification.riskanalysis |striptags | markdown_to_html  }}{% endif %}
                    </div>
                </div>
            </div>
            <div class="col align-self-stretch">

                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Type and Category of Change {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.category  %} {{ rfc_classification.category.description|trans }} {% endif %}
                    </div>
                </div>
                <hr>
                {% if rfc_classification and rfc_classification.standardchange  %}
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Standard change {% endtrans %}
                    </div>
                    <div class="col-md-12">
                         {{ rfc_classification.standardchange.title }}
                    </div>
                </div>
                <hr>
                {% endif %}
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Authorization by {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.authorizationtype %} {{ rfc_classification.authorizationtype.title|trans }} {% endif%}
                    </div>
                </div>
                {% if rfc_classification and rfc_classification.authorizationtype and rfc_classification.authorizationtype.const == 'C__AUTHTYPE__CAB' %}
                    <hr>

                    <div class="row pt-2 mb-2">
                        <div class="col-md-12 mb-2">
                            {% trans %} CAB Meeting {% endtrans %}
                        </div>
                        <div class="col-md-12">
                            {% if rfc_classification and rfc_classification.cabconferenceDate %}{{ rfc_classification.cabconferenceDate | date("d.m.Y") }}{% endif %}
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>
    </form>
</div>
