<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__TRANSFERED" %} active {% endif %}" id="tab-3">

    <div class="modal fade" role="dialog" tabindex="-1" id="messageModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="messageform" id="messageform" method="post" action="{{ path('rfc_classifications_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Send back to initiator {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
                        <input type="hidden" name="rtype" value="{% if rfc_classification and rfc_classification.rtype and rfc_classification.rtype.const %}{{ rfc_classification.rtype.const }}{% endif %}">
                        <input type="hidden" name="costs" value="{% if rfc_classification and rfc_classification.costs %}{{ rfc_classification.costs }}{% endif %}">
                        <input type="hidden" name="rtime" value="{% if rfc_classification and rfc_classification.rtime %}{{ rfc_classification.rtime }}{% endif %}">
                        <input type="hidden" name="runit" value="{% if rfc_classification and rfc_classification.runit and rfc_classification.runit.const %}{{ rfc_classification.runit.const }}{% endif %}">
                        <input type="hidden" name="hardware_software" value="{% if rfc_classification and rfc_classification.hardwareSoftware %}{{ rfc_classification.hardwareSoftware }}{% endif %}">
                        <input type="hidden" name="riskanalysis" value="{% if rfc_classification and rfc_classification.riskanalysis %}{{ rfc_classification.riskanalysis }}{% endif %}">
                        <input type="hidden" name="category" value="{% if rfc_classification and rfc_classification.category and rfc_classification.category.const %}{{ rfc_classification.category.const }}{% endif %}">
                        <input type="hidden" name="standardchange" value="{% if rfc_classification and rfc_classification.standardchange and rfc_classification.standardchange.id %}{{ rfc_classification.standardchange.id }}{% endif %}">
                        <input type="hidden" name="cab-meeting" value="{% if rfc_classification and rfc_classification.cabconferenceDate %}{{ rfc_classification.cabconferenceDate | date("Y-m-d") }}{% endif %}">
                        <input type="hidden" name="authorizationtype" value="{% if rfc_classification and rfc_classification.authorizationtype and rfc_classification.authorizationtype.const %}{{ rfc_classification.authorizationtype.const }}{% endif %}">

                        <div class="form-group">
                            <label for="inputContent" class="">{% trans %} Message {% endtrans %}</label>
                            <textarea class="form-control" rows="16" id="inputMessage" name="message"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Close {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__DRAFT">{% trans %} Send {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" tabindex="-1" id="requestFeedbackModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="requestFeedbackForm" id="requestFeedbackForm" method="post" action="{{ path('rfc_classifications_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %} Feedback request {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
                        <input type="hidden" name="rtype" value="{% if rfc_classification and rfc_classification.rtype and rfc_classification.rtype.const %}{{ rfc_classification.rtype.const }}{% endif %}">
                        <input type="hidden" name="costs" value="{% if rfc_classification and rfc_classification.costs %}{{ rfc_classification.costs }}{% endif %}">
                        <input type="hidden" name="rtime" value="{% if rfc_classification and rfc_classification.rtime %}{{ rfc_classification.rtime }}{% endif %}">
                        <input type="hidden" name="runit" value="{% if rfc_classification and rfc_classification.runit and rfc_classification.runit.const %}{{ rfc_classification.runit.const }}{% endif %}">
                        <input type="hidden" name="hardware_software" value="{% if rfc_classification and rfc_classification.hardwareSoftware %}{{ rfc_classification.hardwareSoftware }}{% endif %}">
                        <input type="hidden" name="riskanalysis" value="{% if rfc_classification and rfc_classification.riskanalysis %}{{ rfc_classification.riskanalysis }}{% endif %}">
                        <input type="hidden" name="category" value="{% if rfc_classification and rfc_classification.category and rfc_classification.category.const %}{{ rfc_classification.category.const }}{% endif %}">
                        <input type="hidden" name="standardchange" value="{% if rfc_classification and rfc_classification.standardchange and rfc_classification.standardchange.id %}{{ rfc_classification.standardchange.id }}{% endif %}">
                        <input type="hidden" name="cab-meeting" value="{% if rfc_classification and rfc_classification.cabconferenceDate %}{{ rfc_classification.cabconferenceDate | date("Y-m-d") }}{% endif %}">
                        <input type="hidden" name="authorizationtype" value="{% if rfc_classification and rfc_classification.authorizationtype and rfc_classification.authorizationtype.const %}{{ rfc_classification.authorizationtype.const }}{% endif %}">

                        <div class="form-group required">
                            <label>{% trans %} Recipient for the feedback request {% endtrans %}</label>
                            <select class="form-control custom-select chosen-select" name="recipient">
                                <option></option>
                                <optgroup label="{% trans %}Roles{% endtrans %}">
                                {% if rfc.businessProcess %}
                                    <option value="CONST_BPO">{% trans %}Process owner{% endtrans %}</option>
                                {% endif %}
                                {% if rfc.getCostcenter %}
                                    <option value="CONST_RESPONSIBLE">{% trans %}Section responsible{% endtrans %}</option>
                                {% endif %}
                                    <option value="CONST_CISO">{% trans %}CISO{% endtrans %}</option>
                                </optgroup>
                                <optgroup label="{% trans %}User{% endtrans %}">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }} ({{ user.username  }})</option>
                                {% endfor %}
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>{% trans %} Message {% endtrans %}</label>
                            <textarea class="form-control" name="message" rows="8"></textarea>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Close {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__BPO">{% trans %} Request feedback {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <form method="post" action="{{ path('rfc_classifications_save') }}">
        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
        {% for standardchange in standardchanges %}
            <input type="hidden" name="standardchange_{{ standardchange.title }}" id="standardchange_{{ standardchange.id }}" value="{{ standardchange.classificationdata }}">
        {%  endfor %}
        <div class="form-row text-left">
            <div class="col">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__CAB">{% trans %} Classify request {% endtrans %}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"  id="dropdownMenuReference" data-reference="parent">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <button data-toggle="modal" data-target="#messageModal" class="dropdown-item btn btn-outline-secondary" type="button">{% trans %} Send back to initiator {% endtrans %}</button>
                        <button data-toggle="modal" data-target="#requestFeedbackModal" class="dropdown-item btn btn-outline-secondary" type="button">{% trans %} Request feedback {% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-self-stretch">
            <div class="col align-self-stretch border-right">

                <div class="form-group"><label>{% trans %} Ressources {% endtrans %}</label>
                    <select class="custom-select" name="rtype" id="rtype">
                        {% for ressource in ressources %}
                            <option value="{{ ressource.const }}" {% if rfc_classification and rfc_classification.rtype and rfc_classification.rtype.const == ressource.const %} selected="selected" {% endif %}>{{ ressource.title|trans }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group"><label>{% trans %} Costs {% endtrans %} [{{ system_config.currency }}]</label>
                    <input type="number" class="form-control" name="costs" id="costs" value="{% if rfc_classification and rfc_classification.costs %}{{ rfc_classification.costs }}{% endif %}">
                </div>

                <div class="form-group"><label>{% trans %} Time {% endtrans %}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Time" name="rtime" id="rtime" value="{% if rfc_classification and rfc_classification.rtime %} {{ rfc_classification.rtime }} {% endif %}">
                        <div class="input-group-append">
                            <select class="custom-select" id="runit" name="runit">
                                {% for unit in units %}
                                    <option value="{{ unit.const }}" {% if rfc_classification and rfc_classification.runit.const == unit.const %} selected="selected" {% endif %}>{{ unit.title|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{% trans %} Hard- and Software {% endtrans %}</label>
                    <textarea class="form-control" rows="5" name="hardware_software" id="hardware_software">{% if rfc_classification and rfc_classification.hardwareSoftware %}{{ rfc_classification.hardwareSoftware }}{% endif %}</textarea></div>
            </div>
            <div class="col align-self-stretch border-right">
                <div class="form-group">
                    <label>{% trans %} Risk analysis {% endtrans %}</label>
                    <textarea class="form-control" rows="16" name="riskanalysis" id="riskanalysis">{% if rfc_classification and rfc_classification.riskanalysis %}{{ rfc_classification.riskanalysis }}{% endif %}</textarea></div>
            </div>
            <div class="col align-self-stretch">

                <div class="form-group"><label>{% trans %} Type and Category of Change {% endtrans %}</label>
                    <select class="custom-select category" name="category">
                        {% for category in categories %}
                            <option value="{{ category.const }}" {% if rfc_classification and rfc_classification.category and category.const == rfc_classification.category.const %} selected="selected"{% endif %}>{{ category.description|trans }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group"><label>{% trans %} Standard change {% endtrans %}</label>
                    <select class="custom-select standardchange" name="standardchange">
                        <option></option>
                        {% for standardchange in standardchanges %}
                            <option value="{{ standardchange.id }}" {% if rfc_classification and rfc_classification.standardchange and standardchange.id == rfc_classification.standardchange.id %} selected="selected"{% endif %}>{{ standardchange.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group"><label>{% trans %} Authorization by {% endtrans %}</label>
                    <select class="custom-select authorizationtype" name="authorizationtype">
                    {% for authorizationtype in authorizationtypes %}
                        <option value="{{ authorizationtype.const }}"{% if rfc_classification and rfc_classification.authorizationtype and authorizationtype.const == rfc_classification.authorizationtype.const%} selected="selected"{% endif%} >{{ authorizationtype.title|trans }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group"><label>{% trans %} CAB Meeting {% endtrans %}</label>
                    <input type="date" class="form-control cab-meeting" name="cab-meeting" value="{% if rfc_classification and rfc_classification.cabconferenceDate %}{{ rfc_classification.cabconferenceDate | date("Y-m-d") }}{% endif %}">
                </div>

            </div>
        </div>
    </form>
</div>
