<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__INCOME" %} active {% endif %}" id="tab-2">

        <div class="form-row text-left">
            <div class="col">

            </div>
        </div>
        <hr>

        <div class="row align-self-stretch">
            <div class="col align-self-stretch">
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Change Manager {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc_classification and rfc_classification.classificator %} {{ rfc_classification.classificator.firstname }} {{ rfc_classification.classificator.lastname }} ({{ rfc_classification.classificator.username }}){% endif %}
                    </div>
                </div>
                <hr>

                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Message {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if dispatch_notice %}{{ dispatch_notice.content |striptags | markdown_to_html }} {% endif %}
                    </div>
                </div>

            </div>
        </div>
</div>
