<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__INCOME" %} active {% endif %}" id="tab-2">
    <form method="post" action="{{ path('rfc_classifications_dispatch') }}">
        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
        <input type="hidden" name="title" value="Message from section responsible">
        <div class="form-row text-left">
            <div class="col">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__TRANSFERED">{% trans %} Assign {% endtrans %}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"  id="dropdownMenuReference" data-reference="parent">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <button class="dropdown-item btn btn-outline-secondary" type="submit" name="status" value="C__STATUS__INCOME">{% trans %} Change Section {% endtrans %}</button>
                        <button class="dropdown-item btn btn-outline-secondary" type="submit" name="status" value="C__STATUS__DRAFT">{% trans %} Send back to initiator {% endtrans %}</button>
                        <button class="dropdown-item btn btn-outline-secondary" type="submit" name="status" value="C__STATUS__CABKO">{% trans %} Reject {% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row align-self-stretch">
            <div class="col align-self-stretch">
                <div class="form-group ">
                    <label>{% trans %} Section {% endtrans %}</label>
                    <select class="form-control custom-select chosen-select" name="costcenter" {% if system_config.section_required %}required="required"{% endif %} >
                        <option value="" ></option>
                        {% for costcenter in costcenters %}
                            <option value="{{ costcenter.id }}" {% if rfc.costcenter and rfc.costcenter.id == costcenter.id %}selected="selected"{% endif %}>{{ costcenter.title }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="form-group ">
                    <label>{% trans %} Change Manager {% endtrans %}</label>
                    <select class="form-control custom-select chosen-select" name="classificator">
                        <option value=""></option>
                        {% for changemanager in changemanagers %}
                            <option value="{{ changemanager.id }}" {% if rfc_classification and rfc_classification.classificator and rfc_classification.classificator.id == changemanager.id %}selected="selected"{% endif %}>{{ changemanager.firstname }} {{ changemanager.lastname }}
                                ({{ changemanager.username }})
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group required">
                    <label>{% trans %} Message {% endtrans %}</label>
                    <textarea class="form-control" name="message" rows="8" placeholder="{% trans %}Message for the assigned Change Manager in case of assignment or the Applicant, in case of rejection.{% endtrans %}" required></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
