<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__CMOK" or rfc.status.const == "C__STATUS__CABOK" or  rfc.status.const == "C__STATUS__CMDB" %} active {% endif %}" id="tab-6">



        <div class="form-row text-left">
            <div class="col">

            </div>
        </div>

    <hr>

    <div class="row">
        <div class="col">

            <div class="table-responsive mt-3">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr class="">
                            <th class="">#</th>
                            <th class="">{% trans %} Title {% endtrans %}</th>
                            <th class="">{% trans %} Assignee {% endtrans %}</th>
                            <th class="">{% trans %} Status {% endtrans %}</th>
                            <th class=""></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rfc_workflow in rfc_workflows %}
                            <tr class="rfc_workflow_row" data-toggle="modal" data-target="#workflowDetails" data-item="{{ rfc_workflow.serialized }}">
                            <td class=""><a href="{{ path('rfc_workflows_detail', {'id': rfc_workflow.id }) }}">{{ rfc_workflow.id }}</a></td>
                            <td class="">{{ rfc_workflow.title }}</td>
                            <td class="">{% if rfc_workflow.assignee %}{{ rfc_workflow.assignee.firstname }} {{ rfc_workflow.assignee.lastname }}{% endif %}</td>
                            <td class="">{% if rfc_workflow.implementationStatus %}{{ rfc_workflow.implementationStatus.title|trans }}{% endif %}</td>
                            <td class="text-right">
                                {% if rfc_workflow.implementationStatus.const == 'C_STATUS_NEW' and rfc_workflow.creator == app.user %}
                                <button type="button" class="btn btn-default" aria-label="Left Align" name="delete_task" value="{{ path('rfc_workflows_delete', {id: rfc_workflow.id}) }}"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="mt-3">
            <div class="p-0" id="chart">

            </div>
        </div>
    </div>
</div>
