<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__CMOK" or rfc.status.const == "C__STATUS__CABOK" or  rfc.status.const == "C__STATUS__CMDB" %} active {% endif %}" id="tab-6">

    <div class="modal fade" role="dialog" tabindex="-1" id="workflowDetails">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <form name="notificationtemplateform" id="formRfCImplemetation" method="post" action="{{ path('rfc_workflows_save') }}" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Task</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="inputRfcId" name="rfc_id" value="{{ rfc.id }}">
                        <input type="hidden" id="inputCreatorId" name="creator_id" value="{{ app.user.id }}">
                        <input type="hidden" id="inputRfcWorkflowId" name="rfc_workflow_id" value="">
                        <input type="hidden" name="ajax_url" id="inputAjaxUrl" value="{{ path('idoit_get_objects') }}">
                        <input type="hidden" name="read_object_url" id="readObjectUrl" value="{{ path('idoit_get_object') }}">

                        <div class="row align-self-stretch">
                            <div class="col align-self-stretch border-right">
                                <div class="form-group required"><label for="inputRfcWorkflowTitle">{% trans %} Title {% endtrans %}</label>
                                    <input type="text" class="form-control" name="title" id="inputRfcWorkflowTitle" required="required">
                                </div>
                                <div class="form-group"><label>{% trans %} Description {% endtrans %}</label>
                                    <textarea class="form-control" rows="16" name="description" id="inputRfcWorkflowDescription"></textarea>
                                </div>

                            </div>


                            <div class="col align-self-stretch ">
                                <div class="form-group required"><label>{% trans %} Assign to {% endtrans %}</label>
                                    <select class="form-control custom-select chosen-select" name="assignee" id="inputRfcWorkflowAssignee" required="required">
                                        <option></option>
                                        {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }} ({{ user.username }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group required"><label>{% trans %} Start date {% endtrans %}</label>
                                    <input type="date" class="form-control" required="required" id="inputRfcWorkflowStartDate" name="start_date" value="">
                                </div>
                                <div class="form-group required">
                                    <label>{% trans %} End date {% endtrans %}</label>
                                    <input type="date" class="form-control" required="required" id="inputRfcWorkflowEndDate" name="end_date" value="">
                                </div>
                                <div class="form-group"><label>{% trans %} Parent task {% endtrans %}</label>
                                    <select class="form-control custom-select" name="parent" id="inputRfcWorkflowParent">
                                        <option></option>
                                        {% for rfc_workflow in rfc_workflows %}
                                            <option value="{{ rfc_workflow.id }}">{{ rfc_workflow.title }} </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group ">
                                    <label for="inputImplementationObjectType">{% trans %} Configuration Item class {% endtrans %}</label>
                                    <select data-placeholder="{% trans %}Select a Configuration Item class{% endtrans %}" name="object_type" id="inputImplementationObjectType" class="custom-select form-control chosen-select">
                                        <option></option>
                                        {% for object_type in object_types %}
                                            <option value="{{ object_type.const }}">{{ object_type.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group ">
                                    <label for="inputImplementationObjects">{% trans %} Configuration Items {% endtrans %}</label>

                                    <select data-placeholder="{% trans %}Chose a Configuration Item class first, then select Configuration Items{% endtrans %}" class="chosen-select" multiple name="objects[]" id="inputImplementationObjects">
                                        <option value=""></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>{% trans %} Attachments {% endtrans %}</label>
                                    <ul id="workflowAttachments" class="list-group mt-3 mb-3">

                                    </ul>

                                    <input type="file" class="form-control-file workflow-attachment" name="attachment[]" multiple>

                                </div>

                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Cancel {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" >{% trans %} Save {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form action="{{ path('rfc_workflows_start') }}" method="post">
        <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
        <div class="form-row text-left">
            <div class="col">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__CMDB">{% trans %} Start implementation {% endtrans %}</button>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col">
            <button data-toggle="modal" data-target="#workflowDetails" class="btn btn-primary new" type="button">{% trans %} New task {% endtrans %}</button>
            <div class="table-responsive mt-3">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr class="">
                            <th class="">#</th>
                            <th class="">{% trans %} Title {% endtrans %}</th>
                            <th class="">{% trans %} Assignee {% endtrans %}</th>
                            <th class="">{% trans %} Status {% endtrans %}</th>
                            <th class=""></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rfc_workflow in rfc_workflows %}
                        <tr class="clickable rfc_workflow_row" data-toggle="modal" data-target="#workflowDetails" data-item="{{ rfc_workflow.serialized }}">
                            <td class="">
                                {% if rfc.status.const == "C__STATUS__CMDB" %}
                                    <a href="{{ path('rfc_workflows_detail', {'id': rfc_workflow.id }) }}">{{ rfc_workflow.id }}</a>
                                {% else %}
                                    {{ rfc_workflow.id }}
                                {% endif %}
                            </td>
                            <td class="">{{ rfc_workflow.title }}</td>
                            <td class="">{% if rfc_workflow.assignee %}{{ rfc_workflow.assignee.firstname }} {{ rfc_workflow.assignee.lastname }}{% endif %}</td>
                            <td class="">{% if rfc_workflow.implementationStatus %}{{ rfc_workflow.implementationStatus.title }}{% endif %}</td>
                            <td class="text-right">
                                {% if rfc_workflow.implementationStatus.const == 'C_STATUS_NEW' and rfc_workflow.creator == app.user %}
                                <button type="button" class="btn btn-default" aria-label="Left Align" name="delete_task" value="{{ path('rfc_workflows_delete', {id: rfc_workflow.id}) }}"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="mt-3">
            <div class="p-0" id="chart">

            </div>
        </div>
    </div>
</div>
