{% extends 'base.html.twig' %}
{% block filter %}
<div class="bg-light border rounded border-light p-4">
    <div class="row">
        <div class="col">
            <form id="search">
                <input type="hidden" name="sort_by" id="sort_by" value="{{ sort.by }}">
                <input type="hidden" name="sort_direction" id="sort_direction" value="{{ sort.direction }}">

                <!-- 1st row -->
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %}State of Request{% endtrans %}</label>
                            <select class="form-control custom-select"  name="status">
                                <option value="" selected=""></option>
                                {% for status in states %}
                                    <option value="{{ status.id }}" {% if filter.status == status.id %} selected="selected" {% endif %}>{{ status.title|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Change Manager</label>
                            <select class="form-control custom-select chosen-select" name="classificator">
                                <option value=""></option>
                                {% for changemanager in changemanagers %}
                                    <option value="{{ changemanager.id }}" {% if filter.classificator == changemanager.id %} selected="selected" {% endif %}>{{ changemanager.firstname }} {{ changemanager.lastname }} ({{ changemanager.username }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Section {% endtrans %}</label>
                            <select class="form-control custom-select" name="costcenter">
                                <option value=""></option>
                                {% for costcenter in costcenters %}
                                    <option value="{{ costcenter.id }}" {% if filter.costcenter == costcenter.id %} selected="selected" {% endif %}>{{ costcenter.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 2nd row-->
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Initiator {% endtrans %}</label>
                            <select class="form-control custom-select chosen-select chosen-select" name="creator" {% if 'C__ROLES__CM' not in app.user.roles %} readonly="readonly" disabled {% endif %}>
                                <option value=""></option>
                                {% for user in users %}
                                    <option value="{{ user.id }}" {% if filter.creator == user.id %} selected="selected" {% endif %}>{{ user.firstname }} {{ user.lastname }} ({{ user.username }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} RfC {% endtrans %} #</label>
                            <input class="form-control" type="text" name="id" value="{{ filter.id }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Business process {% endtrans %}</label>
                            <select class="form-control custom-select" name="business_process">
                                <option value=""></option>
                                {% for business_process in business_processes %}
                                    <option value="{{ business_process.id }}" {% if filter.business_process == business_process.id %} selected="selected" {% endif %}>{{ business_process.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 3rd row-->
                <div id="third-row" class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Project {% endtrans %}</label>
                            <select class="form-control custom-select" name="project">
                                <option value="" selected=""></option>
                                {% for project in projects %}
                                    <option value="{{ project.id }}" {% if filter.project == project.id %} selected="selected" {% endif %}>{{ project.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Ticket {% endtrans %} #</label>
                            <input class="form-control" type="text" name="referenced_ticketid" value="{{ filter.referenced_ticketid }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Authorization by {% endtrans %}</label>
                            <select class="form-control custom-select" name="authorizationtype">
                                <option value="" selected=""></option>
                                {% for authorization in authorizations %}
                                    <option value="{{ authorization.id }}" {% if filter.authorizationtype == authorization.id %} selected="selected" {% endif %}>{{ authorization.title|trans }}  </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 4th row -->
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Text in RfC title or description {% endtrans %}</label>
                            <input class="form-control" type="text" name="title" value="{{ filter.title }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Changes after {% endtrans %}</label>
                            <input class="form-control" type="date" name="change_after" value="{{ filter.change_after }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{% trans %} Changes before {% endtrans %}</label>
                            <input class="form-control" type="date" name="change_before" value="{{ filter.change_before }}">
                        </div>
                    </div>
                </div>

                <!-- 5th row -->
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" id="search-button">{% trans %} Search {% endtrans %}</button>
                            <button class="btn btn-secondary" type="button" id="clear-button">{% trans %} Clear filter {% endtrans %}</button>
                        </div>

                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="px-4 mt-4">
    <ol class="breadcrumb bg-white border-white">
        <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
    </ol>

    <div class="row">
        <div class="col">
            <a href="{{ path('rfc_new') }}"><button class="btn btn-primary" type="button">{% trans %} New {% endtrans %}</button></a>

            <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <div class="table-header">
                                {% trans %} Title {% endtrans %}
                            {% if sort.by == "title" and sort.direction == "ASC" %}
                                <span class="clickable order-indicator sort active fa fa-sort-down" data-order-field="title" data-order-direction="DESC"></span>
                            {%  elseif sort.by == "title" and sort.direction == "DESC" %}
                                <span class="clickable order-indicator sort active fa fa-sort-up" data-order-field="title" data-order-direction="ASC"></span>
                            {%  else %}
                                <span class="clickable order-indicator sort fa fa-sort-up" data-order-field="title" data-order-direction="ASC"></span>
                            {% endif %}

                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                {% trans %} State {% endtrans %}
                                {% if sort.by == "status" and sort.direction == "ASC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-down" data-order-field="status" data-order-direction="DESC"></span>
                                {%  elseif sort.by == "status" and sort.direction == "DESC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-up" data-order-field="status" data-order-direction="ASC"></span>
                                {%  else %}
                                    <span class="clickable order-indicator sort fa fa-sort-up" data-order-field="status" data-order-direction="ASC"></span>
                                {% endif %}

                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                {% trans %} Initiator {% endtrans %}
                                {% if sort.by == "creator" and sort.direction == "ASC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-down" data-order-field="creator" data-order-direction="DESC"></span>
                                {%  elseif sort.by == "creator" and sort.direction == "DESC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-up" data-order-field="creator" data-order-direction="ASC"></span>
                                {%  else %}
                                    <span class="clickable order-indicator sort fa fa-sort-up" data-order-field="creator" data-order-direction="ASC"></span>
                                {% endif %}

                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                {% trans %} Change Manager {% endtrans %}
                                {% if sort.by == "classificator" and sort.direction == "ASC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-down" data-order-field="classificator" data-order-direction="DESC"></span>
                                {%  elseif sort.by == "classificator" and sort.direction == "DESC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-up" data-order-field="classificator" data-order-direction="ASC"></span>
                                {%  else %}
                                    <span class="clickable order-indicator sort fa fa-sort-up" data-order-field="classificator" data-order-direction="ASC"></span>
                                {% endif %}

                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                {% trans %} Created {% endtrans %}
                                {% if sort.by == "created" and sort.direction == "ASC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-down" data-order-field="created" data-order-direction="DESC"></span>
                                {%  elseif sort.by == "created" and sort.direction == "DESC" %}
                                    <span class="clickable order-indicator sort active fa fa-sort-up" data-order-field="created" data-order-direction="ASC"></span>
                                {%  else %}
                                    <span class="clickable order-indicator sort fa fa-sort-up" data-order-field="created" data-order-direction="ASC"></span>
                                {% endif %}

                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rfc in rfcs %}
                    <tr>
                        <td><a href="{{ path('rfc_details', { id: rfc.id}) }}">{{ rfc.id }}</a> </td>
                        <td><a href="{{ path('rfc_details', { id: rfc.id}) }}">{{ rfc.title }}</a></td>
                        <td><a href="{{ path('rfc_details', { id: rfc.id}) }}">{{ rfc.status.title|trans }}</a></td>
                        <td>{% if rfc.creator %} {{ rfc.creator.firstname }} {{ rfc.creator.lastname }} ({{ rfc.creator.username }}) {% endif %}</td>
                        <td>{% if rfc.rfcClassification and rfc.rfcClassification.classificator %}{{ rfc.rfcClassification.classificator.firstname }} {{ rfc.rfcClassification.classificator.lastname}} ({{ rfc.rfcClassification.classificator.username }}) {% endif %}</td>
                        <td>{{ rfc.created|date("Y-m-d h:m") }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(rfcs) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}
