<div role="tabpanel" class="tab-pane" id="tab-8">

    <div class="modal fade" role="dialog" tabindex="-1" id="templateDetails">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <form name="notificationtemplateform" id="formRfCNotices" method="post" action="{{ path('rfc_notices_save') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">Notice</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="inputRfcId" name="rfc_id" value="{{ rfc.id }}">
                        <input type="hidden" id="inputAuthorId" name="author_id" value="{{ app.user.id }}">

                        <div class="form-group row">
                            <label for="inputTitle" class="col-sm-3 col-form-label">{% trans %} Title {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputTitle" name="title"  value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputContent" class="col-sm-3 col-form-label">{% trans %} Content {% endtrans %}</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="16" id="inputContent" name="content"></textarea>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Close {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit" id="">{% trans %} Save {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button data-toggle="modal" data-target="#templateDetails" class="btn btn-primary" type="button">{% trans %} New {% endtrans %}</button>


    <div class="table-responsive mt-3">

        <table class="table table-sm table-hover">
            <tr>
                <th class="table-dark">{% trans %}Date / Time{% endtrans %}</th>
                <th class="table-dark">{% trans %}Author{% endtrans %}</th>
                <th class="table-dark">{% trans %}State{% endtrans %}</th>
                <th class="table-dark">{% trans %}Message{% endtrans %}</th>
            </tr>
            {% for rfc_notice in rfc_notices %}
            <tr class="">
                <td>{{ rfc_notice.created | date('Y-m-d H:i:s') }}</td>
                <td>{{ rfc_notice.author.firstname }} {{ rfc_notice.author.lastname }} ({{ rfc_notice.author.username }})</td>
                <td>{{ rfc_notice.status.title|trans }}</td>
                <td>{% if rfc_notice.content %}{{ rfc_notice.content | markdown_to_html }}{% endif %}</td>
            </tr>
            {% endfor %}


        </table>

    </div>
</div>
