{% extends 'base.html.twig' %}
{% block title %}RfC# {{ rfc.id }}{% endblock %}
{% block content %}
<div class="px-4 mt-4">
    <ol class="breadcrumb bg-white border-white">
        <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>Home</span></a></li>
        <li class="breadcrumb-item">
            {% if rfc.id %}
                <a href="{{ path('rfc_details', {id: rfc.id}) }}"><span>RfC# {{ rfc.id }} {{ rfc.title }} [{{ rfc.status.title|trans }}]</span></a>
            {% else %}
                <a href="{{ path('rfc_new') }}"><span>New RfC</span></a>
            {% endif %}
        </li>
    </ol>
        <div class="row">
            <div class="col">
                <div>
                    <ul role="tablist" class="nav nav-tabs ">
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if rfc.status.const == "C__STATUS__DRAFT" or rfc.status.const == "C__STATUS__CABKO" or rfc.status.const == "C__STATUS__COMPLETE" or rfc.status.const == "C__STATUS__FAILED" %} active {% endif %}" href="#tab-1">{% trans %} Request for Change {% endtrans %}</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if rfc.status.const == "C__STATUS__INCOME" %} active {% endif %}" href="#tab-2">{% trans %} Dispatching {% endtrans %}</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if rfc.status.const == "C__STATUS__TRANSFERED" %} active {% endif %}" href="#tab-3">{% trans %} Classification {% endtrans %}</a></li>

                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if rfc.status.const == "C__STATUS__CAB" %} active {% endif %}" href="#tab-5">{% trans %} Authorization {% endtrans %}</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if rfc.status.const == "C__STATUS__CMOK" or rfc.status.const == "C__STATUS__CABOK" or  rfc.status.const == "C__STATUS__CMDB" %} active {% endif %}" href="#tab-6">{% trans %} Implementation {% endtrans %}</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if rfc.status.const == "C__STATUS__VALIDATION" %} active {% endif %}" href="#tab-7">{% trans %} Validation {% endtrans %}</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if rfc.status.const == "C__STATUS__BPO" %} active {% endif %}" href="#tab-4">{% trans %} Feedback {% endtrans %}</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link " href="#tab-8">{% trans %} Logbook {% endtrans %}</a></li>
                    </ul>
                    <div class="tab-content border rounded-0 border-top-0 p-4">
                        {% include rfc.status.const == "C__STATUS__DRAFT" and (
                                (app.user == rfc.creator) or
                                (rfc.costcenter and app.user == rfc.costcenter.responsible) or
                                (rfc_classification and app.user == rfc_classification.classificator)
                            )? 'rfc/submission_tab.html.twig' : 'rfc/submission_ro_tab.html.twig' %}
                        {% include rfc.status.const == (system_config.allow_classification == 1 and 'C__ROLES__CM' in app.user.roles) or "C__STATUS__INCOME" and ((rfc.costcenter and app.user == rfc.costcenter.responsible) or (system_config.allow_classification == 1 and 'C__ROLES__CM' in app.user.roles)) ? 'rfc/dispatching_tab.html.twig' : 'rfc/dispatching_ro_tab.html.twig' %}
                        {% include rfc.status.const == "C__STATUS__TRANSFERED" and (rfc_classification and app.user == rfc_classification.classificator) or (rfc.status.const == "C__STATUS__TRANSFERED" and rfc_classification == NULL and 'C__ROLES__CM' in app.user.roles) ? 'rfc/classification_tab.html.twig' : 'rfc/classification_ro_tab.html.twig' %}
                        {% include rfc.status.const == "C__STATUS__BPO" ? 'rfc/bpo_feeedback_tab.html.twig' : 'rfc/bpo_feeedback_tab.html.twig' %}
                        {% include rfc.status.const == "C__STATUS__CAB"
                            and
                            (
                                app.user != rfc_classification.classificator
                                or
                                system_config.four_eyes == NULL
                            )
                            and
                            (
                                ('C__ROLES__CAB' in app.user.roles and rfc_classification.getAuthorizationtype().const == 'C__AUTHTYPE__CAB')
                                or
                                ('C__ROLES__CM' in app.user.roles and rfc_classification.getAuthorizationtype().const == 'C__AUTHTYPE__CM')

                            ) ? 'rfc/authorization_tab.html.twig' : 'rfc/authorization_ro_tab.html.twig' %}
                        {% include (rfc.status.const == "C__STATUS__CMOK" or rfc.status.const == "C__STATUS__CABOK")  and app.user == rfc_classification.classificator ? 'rfc/implementation_tab.html.twig' : 'rfc/implementation_ro_tab.html.twig' %}
                        {% include rfc.status.const == "C__STATUS__VALIDATION" and (app.user == rfc.creator or 'C__ROLES__CM' in app.user.roles)  ? 'rfc/validation_tab.html.twig' : 'rfc/validation_ro_tab.html.twig' %}
                        {% include 'rfc/notices_tab.html.twig' %}
                    </div>
                </div>
            </div>

        </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/rfc.js') }}"></script>
    <script src="{{ asset('assets/js/rfc_classifications.js') }}"></script>
    <script src="{{ asset('assets/js/apexcharts.js') }}"></script>
    <script src="{{ asset('assets/js/implementation.js') }}"></script>

{% endblock %}
