<div class="modal fade" role="dialog" tabindex="-1" id="CmdbBrowser">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form name="CiForm" id="CmdbBrowserForm" method="post" action="">
                <input type="hidden" name="ajax_url" id="inputAjaxUrl" value="{{ path('idoit_get_objects') }}">
                <div class="modal-header">
                    <h4 class="modal-title">Configuration Items</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">

                    <div class="form-group ">
                        <label for="inputObjectType" class="col-sm-3 col-form-label">Configuration Item class</label>
                        <div class="col-sm-9">
                            <select data-placeholder="Select a Configuration Item class" name="object_type" id="inputObjectType" class="custom-select form-control chosen-select">
                                <option></option>
                                {% for object_type in object_types %}
                                    <option value="{{ object_type.const }}">{{ object_type.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="inputObjects" class="col-sm-3 col-form-label">Configuration Items</label>
                        <div class="col-sm-9">
                            <select data-placeholder="Chose a Configuration Item class first, then select Configuration Items" class="chosen-select" multiple name="objects[]" id="inputObjects">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button" id="uploadFile">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
