<div role="tabpanel" class="tab-pane {%
    if rfc.status.const == 'C__STATUS__DRAFT' or
    rfc.status.const == 'C__STATUS__CABKO' or
    rfc.status.const == 'C__STATUS__COMPLETE' or
    rfc.status.const == 'C__STATUS__FAILED'
%} active {% endif %}" id="tab-1">

    <form method="post" action="{{ path('rfc_save') }}" id="submissionForm" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ rfc.id }}">
        <div class="form-row text-left">
            <div class="col">

            </div>
        </div>
        <hr>
        <div class="row align-self-stretch">
            <div class="col align-self-stretch border-right">
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Title {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {{ rfc.title }}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Descripton {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {{ rfc.description |striptags | markdown_to_html }}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Consequences {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {{ rfc.consequences |striptags | markdown_to_html }}
                    </div>
                </div>


            </div>
            <div class="col align-self-stretch border-right">
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Applicant {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {{ rfc.creator.firstname }} {{ rfc.creator.lastname }} ({{ rfc.creator.username }})
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Section {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc.costcenter %} {{ rfc.costcenter.title }} {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <div class="col-md-12 mb-2">
                        {% trans %} Business process {% endtrans %}
                    </div>
                    <div class="col-md-12">
                        {% if rfc.businessProcess %}{{ rfc.businessProcess.title }}{% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <label class="col-md-12">
                        {% trans %} Target date {% endtrans %} ({{ rfc.datetype.title|trans }})
                    </label>
                    <div class="col-md-12">
                        {{ rfc.date|date("Y-m-d") }}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <label class="col-md-12">{% trans %} Affected services {% endtrans %}</label>

                    <div class="col-md-12">
                        <ul id="affectedComponentsstore" class="list-group"
                            data-affected_components_store="{{ rfc.affectedComponentsstore }}">
                            {% for affected_component in affacted_components %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ affected_component.title }}
                                    <span>
                                        <a href="{{ config.idoit_url }}/?objID={{ affected_component.id }}" target="_blank">
                                            <span class="fa fa-external-link"></span>
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col align-self-stretch">
                <div class="row pt-2 mb-2">
                    <label class="col-md-12">{% trans %} Reason for execution {% endtrans %}</label>

                    <div class="col-md-12">
                        {% if rfc.reason %} {{ rfc.reason.title|trans}} {% endif %}
                    </div>
                </div>

                {% for customfield in customfields %}
                    <div class="row pt-2 mb-2">
                        {% if customfield.type == 1 %} {# Text #}
                            <label class="col-md-12">{{ customfield.label }}</label>
                            <div class="col-md-12">
                                {% if customfield['value'] is defined %}
                                    {{ customfield.value }}
                                {% endif %}
                            </div>
                        {%  elseif customfield.type == 2 %} {# checkbox #}
                            <div class="col-md-12">
                                {% if customfield['value'] is defined %}
                                    <span class="fa fa-check-square"></span>
                                {% else %}
                                    <span class="fa fa-square-o"></span>
                                {% endif %}
                                <label for="{{ customfield.id }}" class="form-check-label">{{ customfield.label }}</label>
                            </div>
                        {%  elseif customfield.type == 3 %} {# Textarea #}
                            <label class="col-md-12">{{ customfield.label }}</label>
                            <div class="col-md-12">
                                {% if customfield['value'] is defined %}
                                    {{ customfield.value | markdown_to_html }}
                                {% endif %}
                            </div>
                        {%  elseif customfield.type == 4 %} {# Date #}
                            <label class="col-md-12">{{ customfield.label }}</label>
                            <div class="col-md-12">
                                {% if customfield['value'] is defined %}
                                    {{ customfield.value }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <hr>
            
                <div class="row pt-2 mb-2">
                    <label class="col-md-12">{% trans %} Priority {% endtrans %}</label>
                    <div class="col-md-12" >
                        {% if rfc.priority.id %} {{ rfc.priority.title|trans }} {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2"><label class="col-md-12">{% trans %} Project {% endtrans %}</label>
                    <div class="col-md-12">
                        {% if rfc.project %} {{ rfc.project.title }} {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row pt-2 mb-2">
                    <label class="col-md-12">{% trans %} Ticket{% endtrans %}</label>
                    <div class="col-md-12">
                        {% if ticket %}
                                <dl class="row">
                                    {% if ticket.id is defined and ticket.id != '' %}
                                        <dt class="col-sm-3">{% trans %} Ticket ID: {% endtrans %}</dt>
                                        <dd class="col-sm-9"><a target="ticket_window" onclick="window.open('{{ ticket.url }}', 'ticket_window');" href="{{ ticket.url }}">{{ ticket.id }} <span class="fa fa-external-link"></span></a></dd>
                                    {% endif %}
                                    {% if ticket.number is defined and ticket.number != '' %}
                                        <dt class="col-sm-3">{% trans %} Number: {% endtrans %}</dt>
                                        <dd class="col-sm-9">{{ ticket.number }}</dd>
                                    {% endif %}
                                    {% if ticket.title is defined and ticket.title != '' %}
                                        <dt class="col-sm-3">{% trans %} Title: {% endtrans %} </dt>
                                        <dd class="col-sm-9">{{ ticket.title }}</dd>
                                    {% endif %}
                                </dl>
                        {% endif %}
                    </div>

                </div>
                <hr>
                <div class="row pt-2 mb-2">

                    <label class="col-md-12">{% trans %} Attachments {% endtrans %}</label>

                    <div class="col-md-12">
                        <ul id="Attachments" class="list-group mt-3 mb-3"
                            data-attachments="{{ rfc.attachment|json_encode }}">
                            {% for attachment in attachments %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ attachment.original_name }}
                                    <span>
                                        <a href="{{ path('rfc_attachment_download', {'saved_name': attachment.saved_name, 'original_name': attachment.original_name} ) }}">
                                            <span class="fa fa-download"></span>
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>
