<div role="tabpanel" class="tab-pane {%
    if rfc.status.const == 'C__STATUS__DRAFT' or
    rfc.status.const == 'C__STATUS__CABKO' or
    rfc.status.const == 'C__STATUS__COMPLETE' or
    rfc.status.const == 'C__STATUS__FAILED'
%} active {% endif %}" id="tab-1">

    <form method="post" action="{{ path('rfc_save') }}" id="submissionForm" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ rfc.id }}">
        <div class="form-row text-left">
            <div class="col">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" name="status" value="C__STATUS__INCOME">{% trans %} Submit request {% endtrans %}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"  id="dropdownMenuReference" data-reference="parent">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <button class="dropdown-item btn btn-outline-secondary" type="submit" name="status" value="C__STATUS__DRAFT">{% trans %} Save draft {% endtrans %}</button>
                        <button class="dropdown-item btn btn-outline-secondary" type="button" name="delete" value="{{ path('rfc_delete', {id: rfc.id}) }}">{% trans %} Delete draft {% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-self-stretch">
            <div class="col align-self-stretch border-right">
                <div class="form-group required">
                    <label for="rfcTitle">{% trans %} Title {% endtrans %}</label>
                    <input type="text" class="form-control" name="title" id="rfcTitle" value="{{ rfc.title }}" required />
                </div>

                <div class="form-group  {% if system_config.optional_submission_description == null %}required{% endif%}">
                    <label for="rfcDescription">{% trans %} Description {% endtrans %}</label>
                    <textarea class="form-control" rows="7" id="rfcDescription" name="description" {% if system_config.optional_submission_consequences == null %}required{% endif%}>{{ rfc.description|striptags }}</textarea>
                </div>

                <div class="form-group  {% if system_config.optional_submission_consequences == null %}required{% endif%}">
                    <label for="rfcConsequences">{% trans %} Consequences {% endtrans %}</label>
                    <textarea class="form-control" rows="7" id="rfcConsequences" name="consequences" {% if system_config.optional_submission_consequences == null %}required{% endif%}>{{ rfc.consequences|striptags }}</textarea>
                </div>
            </div>
            <div class="col align-self-stretch border-right">

                <div class="form-group required"><label>{% trans %} Applicant {% endtrans %}</label>
                    {% if 'C__ROLES__CM' in app.user.roles %}
                        <select class="custom-select chosen-select" name="creator" required>
                            <option value="" selected>
                            {% for user in users %}
                            <option value="{{ user.id }}" {% if rfc.creator and rfc.creator.id == user.id %}selected="selected"{% endif %}>{{ user.firstname }} {{ user.lastname }} ({{ user.username }})</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="hidden" name="creator" value="{{ rfc.creator.id }}" >
                        <input type="text" class="form-control" readonly value="{{ rfc.creator.firstname }} {{ rfc.creator.lastname }} ({{ rfc.creator.username }})">
                    {% endif %}
                </div>

                <div class="form-group {% if system_config.section_required %}required{% endif %}"><label>{% trans %} Section {% endtrans %}</label>
                    <select class="custom-select" name="costcenters" {% if system_config.section_required %}required="required"{% endif %} >
                        <option value="" selected></option>
                        {% for costcenter in costcenters %}
                        <option value="{{ costcenter.id }}" {% if rfc.costcenter and rfc.costcenter.id == costcenter.id %}selected="selected"{% endif %}>{{ costcenter.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group {% if system_config.process_required %}required{% endif %}"><label>{% trans %} Business process {% endtrans %}</label>
                    <select class="custom-select" name="business_process" {% if system_config.process_required %}required="required"{% endif %} >
                        <option value=""></option>
                        {% for business_process in business_processes %}
                            <option value="{{ business_process.id }}" {% if rfc.businessProcess and rfc.businessProcess.id == business_process.id %} selected="selected" {% endif %}>{{ business_process.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group"><label>{% trans %} Target date {% endtrans %}</label>

                    <div class="input-group required">
                        <input type="date" name="date" class="input-group-prepend form-control" value="{{ rfc.date|date("Y-m-d") }}" required>
                        <div class="input-group-append">
                            <select class="custom-select" name="date_type" required>
                                <option selected></option>
                                {% for date_type in date_types %}
                                    <option value="{{ date_type.id }}" {% if rfc.datetype.id == date_type.id %} selected="selected" {% endif %}>{{ date_type.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group"><label>{% trans %} Affected services {% endtrans %}</label>
                    {{ include('idoit/object_browser.html.twig') }}
                    <input type="hidden" name="affectedComponentsstore" id="inputAffectedComponentsstore" value="{{ rfc.affectedComponentsstore }}">
                    <ul id="affectedComponentsstore" class="list-group" data-affected_components_store="{{ rfc.affectedComponentsstore }}">
                        {% for affected_component in affacted_components %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" data-affected_component_id="{{ affected_component.id }}">
                                {{ affected_component.title }}
                                <span class="fa fa-remove clickable"></span>

                            </li>

                        {% endfor %}

                    </ul>
                    <div class="mt-3">
                        <button type="button" data-toggle="modal" data-target="#CmdbBrowser" class="btn btn-outline-primary">{% trans %} Add service {% endtrans %}</button>
                    </div>


                </div>

            </div>
            <div class="col align-self-stretch">
                <div class="form-group required">
                    <label>{% trans %} Reason for execution {% endtrans %}</label>
                    <select class="custom-select reason" name="reason" required>
                        <option value=""></option>
                        {% for reason in reasons %}
                            <option value="{{ reason.id }}" {% if (rfc.reason and rfc.reason.id == reason.id) or (reason.isDefault) %} selected="selected" {% endif %}>{{ reason.title|trans }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div id="additional_fields" data-stored_values='{{ rfc.customfields }}'></div>
                <div class="form-group">
                    <label>{% trans %} Priority {% endtrans %}</label>
                    <select class="custom-select" name="priority">
                        {% for priority in priorities %}
                            <option value="{{ priority.id }}" {% if rfc.priority.id == priority.id %} selected="selected" {% endif %}>{{ priority.title|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group project"><label>{% trans %} Project {% endtrans %}</label>
                    <select class="custom-select project" name="project">
                        <option value="" ></option>
                        {% for project in projects %}
                            <option value="{{ project.id }}" {% if rfc.project and rfc.project.id == project.id %} selected="selected" {% endif %}>{{ project.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group ticket">
                    <label>{% trans %} Ticket ID {% endtrans %} </label>
                    <input type="hidden" id="tts_driver" name="tts_driver" value="{{ tts_config.driver }}">
                    <input type="text" class="form-control ticket" name="referenced_ticket" value="{% if ticket %}{{ ticket.id }}{% endif %}" placeholder="{% if tts_config.driver == 'Zammad' %}autogenerated when left empty{% endif %}">
                </div>

                <div class="form-group">
                    <label>{% trans %} Attachments {% endtrans %}</label>



                    <ul id="Attachments" class="list-group mt-3 mb-3" data-attachments="{{ rfc.attachment|json_encode }}">
                        {% for attachment in attachments %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" data-attachment_name="{{ attachment|json_encode }}">
                                {{ attachment.original_name }}
                                <span class="fa fa-remove clickable"></span>

                            </li>

                        {% endfor %}

                    </ul>

                    <input type="file" class="form-control-file submission-attachment" name="attachment[]" multiple>

                </div>
            </div>
        </div>
    </form>


</div>
