<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__VALIDATION" %} active {% endif %}" id="tab-7">



    <div class="col align-self-stretch">
                <hr>


        <div class="col-md-12 mb-2">
            {% trans %} Validation commentary {% endtrans %}
        </div>
        <div class="col-md-12">
            {{ rfc.commentary |striptags | markdown_to_html }}
        </div>

    </div>

</div>
