<div role="tabpanel" class="tab-pane {% if rfc.status.const == "C__STATUS__VALIDATION" %} active {% endif %}" id="tab-7">
    <form action="{{ path('rfc_finish') }}" method="post">
        <div class="form-row text-left">
            <div class="col">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">Submit validation</button>
                    <input type="hidden" name="rfc_id" value="{{ rfc.id }}">
                </div>
                <hr>
                <div class="form-group required"><label>{% trans %} Status of Change implementation {% endtrans %}</label>
                    <select class="custom-select" name="status" required="required">
                        <option value="" selected></option>
                        <option value="C__STATUS__COMPLETE" {% if rfc.status.const == "C__STATUS__COMPLETE" %} selected="selected" {% endif %}>{% trans %} Change successful implemented {% endtrans %}</option>
                        <option value="C__STATUS__FAILED" {% if rfc.status.const == "C__STATUS__FAILED" %} selected="selected" {% endif %}>{% trans %} Change implementation failed {% endtrans %}</option>
                        <option value="C__STATUS__CABOK" {% if rfc.status.const == "C__STATUS__CABOK" %} selected="selected" {% endif %}>{% trans %} Change incomplete — send back to implementation {% endtrans %}</option>
                    </select>
                </div>

                <div class="form-group"><label>{% trans %} Description {% endtrans %}</label>
                    <textarea class="form-control" rows="6" name="commentary">{{ rfc.commentary }}</textarea></div>

            </div>
        </div>
    </form>
</div>
