html, body {
  background: rgb(30,40,51);
  height: 100%;
}

.login-clean {
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.login-clean form {
  max-width: 360px;
  width: 90%;
  margin: 0 auto;
  color: #858796;
  font-size: 0.8em;
}

.btn {

}

.login-clean .logo {
  max-hight: 40px;
  width: 70%;
}

.login-clean .brand {
  font-size: 2.5em;
  font-family: "Roboto Condensed";
}

.change {
  color: #FC251C;
}

.login-clean form .form-control {
  background: rgb(30,40,51);
  border: none;
  box-shadow: none;
  outline: none;
  color: #858796;
  text-indent: 8px;
  border-bottom: 0.1pt solid #858796;
  border-radius: 0;
  padding-left: 0;
}

.login-clean form .btn-primary {
  background: rgb(30,40,51);
  border-radius: 3px;
  padding: 8px;
  box-shadow: none;
  text-shadow: none;
  outline: none !important;
  margin-top: 50px;
  color: #858796;
  border: 0.1pt solid #858796;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #FC251C;
  color: #FFFFFF;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

