body {
  background-color: white;
  font-family: Roboto;
}

a:hover {
  color: #ff2600;
  text-decoration: underline;
}

a {
  color: #212142;
  text-decoration: none;
  background-color: transparent;
}

.btn-link {
  color: #212142;
}

.btn-link:hover {
  color: #ff2600;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  left: auto;
  right: 0px;
}

.clickable {
  cursor: pointer;
}

.chosen-container-multi .chosen-choices {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: calc(4.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  background: white;
  box-shadow: unset;
}

.chosen-container .chosen-drop {
  border-radius: .25rem;
  border: 1px solid #ced4da;
}
.chosen-container .chosen-drop span {
  padding-top: 2px;
}
.chosen-container .chosen-drop div b {
  margin-top: 2px;
}

.chosen-container-single .chosen-single {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: calc(1.5em + .75rem + 2px);
  background: white;
  box-shadow: unset;
  padding: .375rem .75rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background-image: unset;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.dropdown-item .fa {
  width: 2em;
}

.dropdown-item:hover {
  background-color: #ced4da;
  color: black;
}

.response {
  position: relative;
}

.toast {
  position: absolute;
  bottom: 0;
  right: 3em;
}

.height-1 {
  height: 80px;
}

.height-2 {
  height: 160px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

blockquote {
  border-left: 5px solid #ced4da;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

ul.task-list {
  list-style: none;
  padding: 0;
}
li.task-item {
  padding-left: 1.3em;
}
li.task-item:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

code {
  color: #11836d;
  font-family: monospace;
}

.page-link {
  background-color: #1b4f72;
}

.page-item.disabled .page-link {
  background-color: #1f76b0;
}

.page-link:hover {
  background-color: #212142;
}

.page-item.active .page-link {
  background-color: #212142;
}

.navigation {
  margin-bottom: 40px;
}

.form-group.required label:after {
  content:"*";
  color:#ff2600;
}

th, td {
  padding-right: 0.5em;
}

.inset {
  background-color: #000000;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.table-header {
  position: relative;
}

.table-header .sort {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: #ced4da;
}

.table-header .sort.active {
  color: #212529;
}

.search-field {
  border: none;
}
