{% extends 'base.html.twig' %}

{% block title %}CMDB Settings{% endblock %}

{% block content %}
<div class="px-4 mt-4">
    <ol class="breadcrumb bg-white border-white">
        <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
        <li class="breadcrumb-item"><a href="{{ path('idoit') }}"><span>{% trans %} CMDB settings {% endtrans %}</span></a></li>
    </ol>
    <div class="row">
        <div class="col">
            <div>
            <div class=" border rounded-0 border-light p-4">
                    <form class="" method="post" action="{{ path('idoit_save') }}">
                        <div class="form-row text-left">
                            <div class="col">



                                <div class="btn-group">
                                    <button class="btn btn-primary" type="submit" name="variant" value="save">{% trans %} Save {% endtrans %}</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"  id="dropdownMenuReference" data-reference="parent">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                        <button class="dropdown-item btn btn-outline-secondary" type="submit" name="variant" value="sync_contacts">{% trans %} Save and sync i-doit contacts {% endtrans %}</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="inputIdoitUrl" class="col-sm-2 col-form-label text-right">i-doit URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputIdoitUrl" name="idoit_url"  value="{{ config.idoit_url }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputIdoitApi" class="col-sm-2 col-form-label text-right">API Key</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputIdoitApi" name="api_key"  value="{{ config.api_key }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputOverwriteProxy" class="col-sm-2 col-form-label text-right">{% trans %} Overwrite Proxy {% endtrans %}</label>
                            <div class="col-sm-10">
                                <input type="checkbox" value="1" class="form-check-inline" id="inputOverwriteProxy" name="overwrite_proxy"  {% if config.overwrite_proxy == 1 %} checked="checked" {% endif  %}>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputIdoitUsername" class="col-sm-2 col-form-label text-right">{% trans %} Username {% endtrans %}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputIdoitUsername" name="username"  value="{{ config.username }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputIdoitPassword" class="col-sm-2 col-form-label text-right">{% trans %} Password {% endtrans %}</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputIdoitPassword" name="password"  value="{{ config.password }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputIdoitApiLang" class="col-sm-2 col-form-label text-right">{% trans %} Language {% endtrans %}</label>
                            <div class="col-sm-10">
                                <select id="inputIdoitApiLang" class="form-control custom-select" name="api_lang">
                                    <option value="en" {% if config.api_lang == 'en' %} selected="selected" {% endif %}>{% trans %} English {% endtrans %}</option>
                                    <option value="de" {% if config.api_lang == 'de' %} selected="selected" {% endif %}>{% trans %} German {% endtrans %}</option>
                                </select>
                            </div>
                        </div>


                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
{% endblock %}


