{% extends 'base.html.twig' %}
{% block title %}{% trans %} Select objects {% endtrans %}{% endblock %}
{% block filter %}
    <div class="bg-light border rounded border-light p-4">
        <div class="row">
            <div class="col">
                <form id="search">
                    <input type="hidden" name="sort_by" id="sort_by" value="{{ sort.by }}">
                    <input type="hidden" name="sort_direction" id="sort_direction" value="{{ sort.direction }}">
                    <input type="hidden" name="fresh" value="true">

                    <!-- 1st row -->
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label>{% trans %}Object type{% endtrans %}</label>
                                <select class="form-control custom-select chosen-select"  name="object_type">
                                    <option value="" selected=""></option>
                                    {% for object_type in object_types %}
                                        <option value="{{ object_type.id }}" {% if filter.object_type == object_type.id %} selected="selected" {% endif %}>{{ object_type.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Report</label>
                                <select class="form-control custom-select chosen-select" name="report">
                                    <option value=""></option>
                                    {% for report in reports %}
                                        <option value="{{ report.id }}" {% if filter.report == report.id %} selected="selected" {% endif %}>{{ report.title }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>{% trans %} Workplace {% endtrans %}</label>
                                <select class="form-control custom-select chosen-select" name="workplace">
                                    <option value=""></option>
                                    {% for workplace in workplaces %}
                                        <option value="{{ workplace.id }}" {% if filter.workplace == workplace.id %} selected="selected" {% endif %}>{{ workplace.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- 2nd row-->
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label>{% trans %} Object title {% endtrans %} </label>
                                <input class="form-control" type="text" name="object_title" value="{{ filter.object_title }}">
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>

                    <!-- 3rd row -->
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" id="search-button">{% trans %} Search {% endtrans %}</button>
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



{% block content %}



    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_label_printer') }}"><span>{% trans %} Select objects {% endtrans %}</span></a></li>
        </ol>

        <div class="row">
            <div class="col">

                <form name="labels_form" id="labelsForm" method="post" action="{{ path('label_printer_print') }}">
                    <button  class="btn btn-primary" type="submit">{% trans %} Continue {% endtrans %}</button>
                    <div class="" style="z-index: 5">
                        <div aria-live="polite" aria-atomic="true" class="response d-flex justify-content-center align-items-center">
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                                <div class="toast-header">
                                    <img src="{{ asset('assets/img/Icon-rfc-16.png') }}" class="rounded mr-2" alt="RfC Icon">
                                    <strong class="mr-auto">Info</strong>

                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center"><input class="" type="checkbox" id="checkAll" value=""></th>
                                <th>{% trans %} # {% endtrans %}</th>
                                <th>{% trans %} Title {% endtrans %}</th>
                                <th>{% trans %} Type {% endtrans %}</th>
                                <th>
                                    <select class="form-control custom-select custom-select-sm" id="listSelect">
                                        <option value=""></option>
                                        {% for label in labels %}
                                            <option value="{{ label.id }}">{{ label.title }} ({{ label.driver }})</option>
                                        {% endfor %}
                                    </select>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in objects %}
                                <tr>
                                    <td class="text-center"><input class="checkbox" type="checkbox" name="obj_ids[]" value="{{ object.id }}">  </td>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.title }}</td>
                                    <td>{{ object.type_title }}</td>
                                    <td>
                                        <select class="form-control custom-select select custom-select-sm" name="{{ object.id }}">
                                            <option value=""></option>
                                            {% for label in labels %}
                                                <option value="{{ label.id }}">{{ label.title }} ({{ label.driver }})</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}
{% block toast %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/label_printer.js') }}"></script>
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
{% endblock %}
