{% extends 'base.html.twig' %}
{% block title %}{% trans %} Print Labels {% endtrans %}{% endblock %}
{% block filter %}
{% endblock %}
{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_label_printer') }}"><span>{% trans %} Select objects {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('label_printer_zpl') }}"><span>{% trans %} Print Labels {% endtrans %}</span></a></li>
        </ol>
        <div class="row align-self-stretch">

            <div class="col align-self-stretch border rounded-0 border-light pt-3">
                <form method="post" action="{{ path('label_printer_zpl') }}">
                    <button  class="btn btn-primary" type="submit">{% trans %} Print Labels {% endtrans %}</button>


                    <hr>
                    <div class="form-group required">
                        <label for="inputHostAddress" class="form-label text-right ">{% trans %} Printer address (FQDN or IPv4 Address) {% endtrans %}</label>
                        <input type="text" class="form-control" id="inputPrinterHost" name="hostaddress" value="{{ hostaddress }}" placeholder="127.0.0.1" required="required">
                    </div>
                </form>

                <hr>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class=" alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>


            <div class="col align-self-stretch">
                <div class="mb-0">{% trans %} Preview {% endtrans %}:</div>
                {% if label_image %}
                    <img style="width: {{ label.labelWidth }}mm; height: {{ label.labelHeight }}mm" class="border rounded mt-2" src="data:image/png;base64,{{ label_image }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/label_printer.js') }}"></script>
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
{% endblock %}