{% extends 'base.html.twig' %}

{% block title %}Networkscan compasion {% endblock %}

{% block content %}




    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('evidence_collections')}}"><span>{% trans %} Evidence Collections {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('evidence_collection_show', {'id': evidence_collection.getID()})}}"><span>{{ evidence_collection.getTitle() }}</span></a></li>
            <li class="breadcrumb-item"><span>{% trans %} Networkscan comparsion {% endtrans %}</span></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>

                    <div class="bg-light border rounded border-light p-4">
                        <div class="row">
                            <div class="col">
                                <form method="get">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="" id="hideUnchanged">
                                                <label class="form-check-label" for="hideUnchanged">
                                                    {% trans %} Hide unchanged records {% endtrans %}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="" id="highlightChanged">
                                                <label class="form-check-label" for="highlightChanged">
                                                    {% trans %} Highlight changed records {% endtrans %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class=" border rounded-0 p-4">

                        <table class="table table-sm ">
                            <tr>
                                <th class="border-0"></th>
                                <th class="border-left border-right text-center" colspan="4">{{ networkscans.0.getCreated | date('Y-m-d H:i:s') }}</th>
                                <th class="border-right text-center" colspan="4">{{ networkscans.1.getCreated | date('Y-m-d H:i:s') }}</th>
                            </tr>
                            <tr>
                                <th class="table-dark">{% trans %} IPv4 Address {% endtrans %}</th>
                                <th class="table-dark">{% trans %} Configuration Item {% endtrans %}</th>
                                <th class="table-dark">{% trans %} Hostname {% endtrans %}</th>
                                <th class="table-dark">{% trans %} MAC Address {% endtrans %}</th>
                                <th class="table-dark border-right">{% trans %} Vendor {% endtrans %}</th>
                                <th class="table-dark">{% trans %} Configuration Item {% endtrans %}</th>
                                <th class="table-dark">{% trans %} Hostname {% endtrans %}</th>
                                <th class="table-dark">{% trans %} MAC Address {% endtrans %}</th>
                                <th class="table-dark">{% trans %} Vendor {% endtrans %}</th>
                            </tr>
                            {% for merged_scan in merged_scans %}
                            <tr {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="unchanged" {% else %} class="" {% endif %}>
                                <td class="table-dark">{% if merged_scan.0 is defined and merged_scan.0.ipv4_addr is defined %} {{ merged_scan.0.ipv4_addr }} {% elseif merged_scan.1 is defined and merged_scan.1.ipv4_addr is defined %} {{ merged_scan.1.ipv4_addr }} {% endif %}</td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="" {% else %} class="changed" {% endif %}>
                                    {% if merged_scan.0 is defined and merged_scan.0.object %}
                                        {{ merged_scan.0.object.title }} <a href="{{ config.idoit_url }}/?objID={{ merged_scan.0.object.id }} " target="_blank"><span class="fa fa-external-link"></span></a>
                                    {% endif %}
                                </td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="" {% else %} class="changed" {% endif %}>{% if merged_scan.0 is defined %} {{ merged_scan.0.hostname }} {% endif %}</td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="" {% else %} class="changed" {% endif %}>{% if merged_scan.0 is defined %} {{ merged_scan.0.mac_addr }} {% endif %}</td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="border-right" {% else %} class="border-right changed" {% endif %}>{% if merged_scan.0 is defined %} {{ merged_scan.0.vendor }} {% endif %}</td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="" {% else %} class="changed" {% endif %}>
                                    {% if merged_scan.1 is defined and merged_scan.1.object %}
                                        {{ merged_scan.1.object.title }} <a href="{{ config.idoit_url }}/?objID={{ merged_scan.1.object.id }} " target="_blank"><span class="fa fa-external-link"></span></a>
                                    {% endif %}
                                </td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="" {% else %} class="changed" {% endif %}>{% if merged_scan.1 is defined %} {{ merged_scan.1.hostname }} {% endif %}</td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="" {% else %} class="changed" {% endif %}>{% if merged_scan.1 is defined %} {{ merged_scan.1.mac_addr }} {% endif %}</td>
                                <td {% if merged_scan.0 is defined and merged_scan.1 is defined and merged_scan.0 == merged_scan.1 %} class="" {% else %} class="changed" {% endif %}>{% if merged_scan.1 is defined %} {{ merged_scan.1.vendor }} {% endif %}</td>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/evidence_collections.js') }}"></script>
{% endblock %}
