{% extends 'base.html.twig' %}

{% block title %}Networkscan {% endblock %}

{% block content %}




    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('evidence_collections')}}"><span>{% trans %} Evidence Collections {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('evidence_collection_show', {'id': networkscans.getEvidenceCollection().getID()})}}"><span>{{ networkscans.getEvidenceCollection().getTitle() }}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('networkscan_show', {id: networkscans.id}) }}"><span>Networkscan {{ networkscans.created | date('Y-m-d h:m') }}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 p-4">

                        <table class="table">
                            <tr>
                                <th>{% trans %} IPv4 Address {% endtrans %}</th>
                                <th>{% trans %} Configuration Item {% endtrans %}</th>
                                <th>{% trans %} Hostname {% endtrans %}</th>
                                <th>{% trans %} MAC Address {% endtrans %}</th>
                                <th>{% trans %} Vendor {% endtrans %}</th>
                            </tr>
                            {% for hostrecord in hostrecords %}
                            <tr>
                                <td>{{ hostrecord.ipv4_addr|long2ip }}</td>
                                <td>
                                    {% if hostrecord.object is defined and hostrecord.object.title is defined %}
                                        {{ hostrecord.object.title }} <a href="{{ config.idoit_url }}/?objID={{ hostrecord.object.id }} " target="_blank"><span class="fa fa-external-link"></span></a>
                                    {% endif %}</td>
                                <td>{{ hostrecord.hostname }}</td>
                                <td>{{ hostrecord.mac_addr }}</td>
                                <td>{{ hostrecord.vendor }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/evidence_collections.js') }}"></script>
{% endblock %}
