<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Request for Change{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/Icon-rfc-16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/Icon-rfc-32.png') }}">
    <link rel="icon" type="image/png" sizes="180x180" href="{{ asset('assets/img/Icon-rfc-180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/img/Icon-rfc-192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('assets/img/Icon-rfc-512.png') }}">
    {% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/font-roboto.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    {% endblock %}
</head>
{% block nav %}

{% set base_path = app.request.basePath %}
{% set split_path = base_path|split('/rfc') %}

<nav class="navbar navbar-light navbar-expand-md sticky-top bg-white">
    <div class="container-fluid">
        <div calss="d-none d-lg-block">
            <object data="{{ asset('assets/img/logo-rfc.svg') }}" type="image/svg+xml" width="100em" >
                <!-- Für Browser ohne SVG-Unterstützung -->
                <a class="navbar-brand" href="{{ path('rfc_index') }}"><img src="{{ asset('assets/img/logo-rfc.png') }}" height="50em"></a>
            </object>

        </div>

        <div class="navbar text-right" id="navcol-1">

                <ul class="nav navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.firstname }} {{ app.user.lastname }} ({{ app.user.username }})
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="text-left"><a class="dropdown-item" href="{{ split_path|first }}/"><img
                                                src="{{ asset('assets/img/idoit-logo.svg') }}"></a></div>
                                <div class="dropdown-divider"></div>
                                {% if 'C__ROLES__ADMIN' in app.user.roles %}
                                <a class="dropdown-item" href="{{ path('rfc_user') }}"><span class="fa fa-users pr-2"></span> {% trans %} User Management {% endtrans %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('idoit') }}"><span class="fa fa-database pr-2"></span> {% trans %} CMDB {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('zammad') }}"><span class="fa fa-ticket pr-2"></span> {% trans %} Service Desk {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('ldap') }}"><span class="fa fa-sitemap pr-2"></span> {% trans %} LDAP {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('email') }}"><span class="fa fa-envelope-o pr-2"></span> {% trans %} E-Mail {% endtrans %}</a>
                                <!-- <a class="dropdown-item" href="{{ path('notification_templates') }}"><span class="fa fa-bell-o pr-2"></span> {% trans %} Notifications {% endtrans %}</a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('businessprocesses') }}"><span class="fa fa-gears pr-2"></span> {% trans %} Business processes {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('costcenters') }}"><span class="fa fa-pie-chart pr-2"></span> {% trans %} Sections {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('datetypes') }}"><span class="fa fa-calendar pr-2"></span> {% trans %} Date types {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('departments') }}"><span class="fa fa-building-o pr-2"></span> {% trans %} Departments {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('projects') }}"><span class="fa fa-align-left pr-2"></span> {% trans %} Projects {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('reasons') }}"><span class="fa fa-connectdevelop pr-2"></span> {% trans %} Reasons for implementation {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('ressources') }}"><span class="fa fa-address-book-o pr-2"></span> {% trans %} Ressources {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('standardchanges') }}"><span class="fa fa-recycle pr-2"></span> {% trans %} Standard changes {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('system') }}"><span class="fa fa-sliders pr-2"></span> {% trans %} System settings {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('units') }}"><span class="fa fa-euro pr-2"></span> {% trans %} Units {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('app_labels') }}"><span class="fa fa-qrcode pr-2"></span> {% trans %} Label definition {% endtrans %}</a>
                                <div class="dropdown-divider"></div>
                                {% endif %}
                                {% if 'C__ROLES__CM' in app.user.roles or 'C__ROLES__ADMIN' in app.user.roles %}
                                    <a class="dropdown-item" href="{{ path('evidence_collections') }}"><span class="fa fa-camera-retro pr-2"></span> {% trans %} Evidence Collections {% endtrans %}</a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_label_printer') }}"><span class="fa fa-print pr-2"></span> {% trans %} Print labels {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('inventory') }}"><span class="fa fa-object-group pr-2"></span> {% trans %} My Workplace Inventory {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('rfc_workflows') }}"><span class="fa fa-tasks pr-2"></span> {% trans %} New and open tasks {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('profile') }}"><span class="fa fa-user-circle pr-2"></span> {% trans %} Profile {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('rfc_logout') }}"><span class="fa fa-power-off pr-2"></span> {% trans %} Logout as {% endtrans %} {{ app.user.username }}</a>
                            </div>
                        </div>
                    </li>
                </ul>

        </div>
    </div>
</nav>
{% endblock %}
<main>
    <div class="container-fluid">

        {% block filter %}{% endblock %}

        {% block content %}{% endblock %}
        {% block toast %}

            <div aria-live="polite" aria-atomic="true" class="response d-flex justify-content-center align-items-center" style="min-height: 200px;">
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                    <div class="toast-header">
                        <img src="{{ asset('assets/img/Icon-rfc-16.png') }}" class="rounded mr-2" alt="RfC Icon">
                        <strong class="mr-auto" >Info</strong>

                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</main>
<footer class="bg-light footer mt-auto py-0 fixed-bottom">
    <div class="row">
        <div class="col-12 text-center pl-5">
            <span class="small inset">RfC Manager Version {% include "VERSION" %} &nbsp;&nbsp; © don’t panic it-services gmbh {{ "now"|date("Y") }}</span>
        </div>
    </div>
</footer>
{% block javascripts %}
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>

{% endblock %}
</body>

</html>







