<div role="tabpanel" id="tab-2" class="tab-pane {% if evidence_collection.title != 'untitled' %} active {% endif %}">

    <div class="modal fade" role="dialog" tabindex="-1" id="Upload">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="scanUploadForm" id="scanUploadForm" method="post" action="{{ path('networkscan_upload') }}" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" id="evidenceCollection" name="evidenceCollection" value="{{ evidence_collection.id }}">

                        <div class="form-group">
                            <label>{% trans %} Upload new scan {% endtrans %}</label>
                            <input type="file" class="form-control-file submission-attachment" name="networkscan" multiple>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Cancel {% endtrans %}</button>
                        <button class="btn btn-primary" type="submit">{% trans %} Save {% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <form name="networkscans" method="post" action="{{ path('notworkscans_compare') }}">
                <button data-toggle="modal" type="button" data-target="#Upload" class="btn btn-primary">{% trans %}Add{% endtrans %}</button>
                <button id="compare_button" title="{% trans %}Choose two networkscans for compasion{% endtrans %}" class="btn btn-info" type="submit" disabled="disabled">{% trans %} Compare {% endtrans %}</button>

                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col">{% trans %} Created {% endtrans %}</th>
                                <th class="col">{% trans %} Creator {% endtrans %}</th>
                                <th class="col">{% trans %} Number of hosts {% endtrans %}</th>
                                <th class="col text-right"></th>
                            </tr>
                            </thead>
                            {% for networkscan in evidence_collection.networkscans %}
                                <tr class="d-flex">
                                    <td class="col-1"><input type="checkbox" value="{{ networkscan.id }}" name="networkscans[]"></td>
                                    <td class="col"><a
                                                href="{{ path('networkscan_show', {id: networkscan.id}) }}">{{ networkscan.created | date('Y-m-d H:i:s') }}</a>
                                    </td>
                                    <td class="col">{{ networkscan.creator.firstname }}</td>
                                    <td class="col">{{ networkscan.hostrecords | length }}</td>
                                    <td class="col text-right">
                                        <button name="delete" class="btn" type="button" value="delete/{{ networkscan.id }}"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>