{% extends 'base.html.twig' %}
{% block title %}Evidence Collections{% endblock %}

{% block filter %}
    <div class="bg-light border rounded border-light p-4">
        <div class="row">
            <div class="col">
                <form method="get">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>{% trans %} Title {% endtrans %}</label><input type="text" class="form-control" name="title" value="{{ filter.title }}"/></div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">{% trans %} Search {% endtrans %}</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('evidence_collections') }}"><span>{% trans %} Evidence Collections {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <a href="{{ path('evidence_collection_new') }}"> <button class="btn btn-primary new" type="button">{% trans %} New {% endtrans %}</button> </a>
                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col">{% trans %} Title {% endtrans %}</th>
                                <th class="col">{% trans %} Creator {% endtrans %}</th>
                                <th class="col">{% trans %} Number of scans {% endtrans %}</th>
                                <th class="col">{% trans %} Updated {% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for evidence_collection in evidence_collections %}
                                <tr class="d-flex">
                                    <td class="col-1"><a href="{{ path('evidence_collection_show', {id: evidence_collection.id}) }}"> {{ evidence_collection.id }} </a></td>
                                    <td class="col"><a href="{{ path('evidence_collection_show', {id: evidence_collection.id}) }}"> {{ evidence_collection.title }} </a></td>
                                    <td class="col">{{ evidence_collection.creator.firstname }} {{ evidence_collection.creator.lastname }} ({{ evidence_collection.creator.username }})</td>
                                    <td class="col">{{ evidence_collection.getNetworkscans().getValues()|length }}</td>
                                    <td class="col">{{ evidence_collection.updated | ago }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(evidence_collections) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/selection_list.js') }}"></script>
{% endblock %}
