<div role="tabpanel" id="tab-1" class="tab-pane {% if evidence_collection.title == 'untitled' %} active {% endif %}">


    <form id="formEvidenceCollection" class="" method="post" action="{{ path('evidence_collection_save') }}">
    <div class="row">
        <div class="col">
            <div class="form-row text-left">
                <div class="col">
                    <button class="btn btn-primary" type="submit" id="evidenceCollectionSave">{% trans %} Save {% endtrans %}</button>
                </div>
            </div>

            <input type="hidden" id="inputId" name="id" value="{{ evidence_collection.id }}">

            <hr>
            <div class="form-group required">
                <label for="inputTitle" class="form-label">{% trans %} Title {% endtrans %}</label>
                <input type="text" class="form-control" id="inputTitle" name="title"  value="{{ evidence_collection.title }}" required>
            </div>

            <div class="form-group">
                <label for="inputDescription" class="form-label">{% trans %} Description {% endtrans %}</label>
                <textarea  class="form-control" name="description" id="inputDescription">{{ evidence_collection.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="inputL3network" class="col-form-label">{% trans %} i-doit Layer 3 Network {% endtrans %}</label>
                <select class="custom-select chosen-select" name="obj_id">
                    <option value="" selected>
                    {% for l3network in l3networks %}
                    <option value="{{ l3network.id }}" {% if evidence_collection.getObjId() and evidence_collection.getObjId() == l3network.id %}selected="selected"{% endif %}>{{ l3network.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <input type="checkbox" class="custom-checkbox" name="active" id="inputActive" value="1" {% if evidence_collection.active == 1 %} checked="checked" {% endif %}>
                <label for="inputActive" class="form-label">{% trans %} Active {% endtrans %}</label>
            </div>


        </div>
    </div>
    </form>

</div>