{% extends 'base.html.twig' %}

{% block title %}Evidence Collection {% endblock %}

{% block content %}




    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('evidence_collections')}}"><span>{% trans %} Evidence Collections {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('evidence_collection_show', {'id': evidence_collection.id})}}"><span>{{ evidence_collection.title }}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 p-4">

                        <div class="row">
                            <div class="col">
                                <div>
                                    <ul role="tablist" class="nav nav-tabs">
                                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if evidence_collection.title == 'untitled' %} active {% endif %}" href="#tab-1">{% trans %} Metadata {% endtrans %}</a></li>
                                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link {% if evidence_collection.title != 'untitled' %} active {% endif %}" href="#tab-2">{% trans %} Scans {% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                            <div class="tab-content border rounded-0 border-top-0 p-4">
                                {% include "evidence_collections/metadata_tab.html.twig" %}
                                {% include "evidence_collections/collections_tab.html.twig" %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/evidence_collections.js') }}"></script>
{% endblock %}
