{% extends 'base.html.twig' %}

{% block filter %}
    <div class="bg-light border rounded border-light p-4">
        <div class="row">
            <div class="col">
                <form method="get">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>{% trans %} Name {% endtrans %}</label><input type="text" class="form-control" name="name" value="{{ filter.name }}"/></div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">{% trans %} Search {% endtrans %}</button></div>
                        </div>
                        <div class="col">
                            <div class="form-group"><label>{% trans %} Department {% endtrans %}</label>
                                <select class="form-control custom-select" name="department">
                                    <option value="" ></option>
                                    {% for department in departments %}
                                    <option value="{{ department.id }}" {% if filter.department == department.id %} selected="selected" {% endif %}>{{ department.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group"><label>{% trans %} Role {% endtrans %}</label>
                                <select class="form-control custom-select" name="role">
                                    <option value="" ></option>
                                    {% for role in roles %}
                                        <option value="{{ role.id }}" {% if filter.role == role.id %} selected="selected" {% endif %}>{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="modal fade" role="dialog" tabindex="-1" id="userDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="userform" id="formUser" method="post" action="{{ path('rfc_user_update') }}">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans %} User details {% endtrans %}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">

                        <input type="hidden" id="inputId" name="id" value="">
                        <div class="form-group row">
                            <label for="inputFirstname" class="col-sm-3 col-form-label">{% trans %} Firstname {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputFirstname" name="firstname"  value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputLastname" class="col-sm-3 col-form-label">{% trans %} Lastname {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputLastname" name="lastname" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-3 col-form-label">{% trans %} E-Mail {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control"  id="inputEmail" name="email" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputUsername" class="col-sm-3 col-form-label">{% trans %} Username {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control-plaintext" readonly id="inputUsername" name="username" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{% trans %} Password {% endtrans %}</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword" name="password" value="" autocomplete="new-password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDepartment" class="col-sm-3 col-form-label">{% trans %} Department {% endtrans %}</label>
                            <div class="col-sm-9">
                                <select class="form-control custom-select" id="inputDepartment" name="department">
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputLanguage" class="col-sm-3 col-form-label">{% trans %} Language {% endtrans %}</label>
                            <div class="col-sm-9">
                                <select class="form-control custom-select" id="inputLanguage" name="language">
                                    {% for locale in supported_locales %}
                                        <option value="{{ locale }}">{{ locale }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRoles" class="col-sm-3 col-form-label">{% trans %} Roles {% endtrans %}</label>
                            <div class="col-sm-9">
                                <select data-placeholder="Roles" class="chosen-select" multiple name="roles[]" id="inputRoles">
                                    <option value="--"></option>
                                    {% for role in roles %}
                                        <option value="{{ role.const }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRoles" class="col-sm-3 col-form-label">{% trans %} Locked {% endtrans %}</label>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="inputLocked" name="locked" value="1">
                                </div>
                            </div>
                        </div>


                </div>
                <div class="modal-footer">
                    <a href="{{ path('inventory') }}" class="btn btn-outline-info" id="goToInventoryLink">{% trans %} Go to Inventory {% endtrans %}</a>
                    <button class="btn btn-light" type="button" data-dismiss="modal">{% trans %} Cancel {% endtrans %}</button>
                    <button class="btn btn-primary" type="submit" id="">{% trans %} Save {% endtrans %}</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index') }}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('rfc_user') }}"><span>{% trans %} User {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <button data-toggle="modal" data-target="#userDetails" class="btn btn-primary new" type="button">{% trans %} New {% endtrans %}</button>
                <div class="table-responsive mt-3">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans %} Firstname {% endtrans %}</th>
                                <th>{% trans %} Lastname {% endtrans %}</th>
                                <th>{% trans %} E-Mail {% endtrans %}</th>
                                <th>{% trans %} Username {% endtrans %}</th>
                                <th>{% trans %} Department {% endtrans %}</th>
                                <th class="text-center">CM</th>
                                <th class="text-center">CAB</th>
                                <th class="text-center">Admin</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr class="clickable" data-toggle="modal" data-user='{{ user.serialized  }}' data-target="#userDetails">
                                <td>{{ user.id }} </td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.department.title }}</td>
                                <td class="text-center">{% if 'C__ROLES__CM' in user.roles %}<span class="fa fa-check"></span> {% endif %}</td>
                                <td class="text-center">{% if 'C__ROLES__CAB' in user.roles %}<span class="fa fa-check"></span> {% endif %}</td>
                                <td class="text-center">{% if 'C__ROLES__ADMIN' in user.roles %}<span class="fa fa-check"></span> {% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(users) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/users.js') }}"></script>
{% endblock %}
