{% extends 'base.html.twig' %}

{% block title %}E-Mail Settings{% endblock %}

{% block content %}

    <div class="px-4 mt-4">
        <ol class="breadcrumb bg-white border-white">
            <li class="breadcrumb-item"><a href="{{ path('rfc_index')}}"><span>{% trans %} Home {% endtrans %}</span></a></li>
            <li class="breadcrumb-item"><a href="{{ path('email') }}"><span>{% trans %} E-Mail settings {% endtrans %}</span></a></li>
        </ol>
        <div class="row">
            <div class="col">
                <div>
                    <div class=" border rounded-0 border-light p-4">
                        <form class="" method="post" action="{{ path('email_save') }}">
                            <div class="form-row text-left">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">{% trans %} Save {% endtrans %}</button>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="inputDriver" class="col-sm-2 col-form-label text-right">{% trans %} Driver {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <select class="form-control custom-select" id="inputDriver" name="driver">
                                        <option value="smtp" {% if config.driver == "smtp" %} selected {% endif %}>SMTP</option>
                                        <option value="sendmail" {% if config.driver == "sendmail" %} selected {% endif %}>Sendmail</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputFrom" class="col-sm-2 col-form-label text-right">{% trans %} Sender address {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFrom" name="from"  value="{{ config.from }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputHost" class="col-sm-2 col-form-label text-right">{% trans %} SMTP Host {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputHost" name="hostname"  value="{{ config.options.hostname }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPort" class="col-sm-2 col-form-label text-right">{% trans %} SMTP Port {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputPort" name="port" placeholder="587"  value="{{ config.options.port }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputRDN" class="col-sm-2 col-form-label text-right">{% trans %} Username {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputDN" name="username" placeholder=""  value="{{ config.options.username }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label text-right">{% trans %} Password {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputDN" name="password" value="{{ config.options.password }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label text-right">{% trans %} Signature {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="8" name="signature">{{ config.signature }}</textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputActive" class="col-sm-2 col-form-label text-right">{% trans %} Send Notifications {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputActive" name="send_notification"  {% if config.send_notification == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputActive" class="col-sm-2 col-form-label text-right">{% trans %} Verify certificate from mail transport agent {% endtrans %}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" class="form-check-inline" id="inputVerifyPeer" name="verify_peer"  {% if config.verify_peer == 1 %} checked="checked" {% endif  %}>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/post_data.js') }}"></script>
{% endblock %}
