<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        blockquote {
            padding: 8px 12px;
            border-left: 5px solid #eee;
        }
        p {
            margin: 0;
        }
        code {
            border: none;
            background: hsl(0,0%,97%);
            white-space: pre-wrap;
            font-family: "Roboto Mono", Courier, Monaco, monospace;
            font-size: 12px;
            color: #e12e1c;
        }
        pre {
            padding: 12px 15px;
            font-size: 13px;
            line-height: 1.45;
            background: hsl(0,0%,97%);
            white-space: pre-wrap;
            border-radius: 3px;
            border: none;
            overflow: auto;
        }

        table td {
            border-collapse: collapse;
        }
        table {
           border-collapse: collapse;
           mso-table-lspace: 0pt;
           mso-table-rspace: 0pt;
           border: none;
           table-layout: auto;
           display: block;
           width: 100%;
           overflow: auto;
           word-break: keep-all;
        }
        td, th {
            padding: 7px 12px;
        }
        th {
            font-weight: bold;
            text-align: center;
        }
        col {
            width: auto;=0D
        }
    </style>
</head>
<body style="font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif; font-size: 12px;">

    {{ message | raw }}

<div style="color:#858796">
    {% apply markdown_to_html %}
    {{ signature | raw }}
    {% endapply %}
</div>

</body>
</html>
